{% extends 'base/base.html' %}
{% load static %}
{% load manage_tags %}

{% block content %}

    {% if student %}


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="show_message">{{ message }}</div>
        <form id="a_form1" role="form" method="POST" action="">
            {% csrf_token %}
            <div id="edit-form">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form1" type="submit" class="btn btn-primary" form="a_form1">Assign</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal end -->




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Delete Teacher Assignment</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="show_message">{{ message }}</div>
        <form id="a_form2" role="form" method="POST" action="">
            {% csrf_token %}
            <div id="del-form">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form2" type="submit" class="btn btn-primary" form="a_form2">Delete</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal end -->







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Teacher Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="a_form3" role="form" enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div id="edit-teacher">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form3" type="submit" class="btn btn-primary" form="a_form3">Save changes</button>
      </div>
    </div>
  </div>
</div>




<style type="text/css">

  .btn {
    float: right;
  }

  .moveeee {
    float: left;
  }
</style>

    <div id="teacher_list" class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h6>Teachers List</h6>


                <div class="card-header-actions">
                    <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a> -->
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <form id="search_forms" action="" method="POST">
                                    {% csrf_token %}
                                  <label>Search:
                                      <input type="search" id="search_input" name="search_inputs" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0" required>
                                  </label>
                                  <input id="search_button" type="submit" value="search">
                                </form>



<script type="text/javascript">





                </script>
                            </div>
                        </div>





                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">

                            </div>
                        </div>
                    </div>
                    <div id="table_change">
                     <div  class="row">
                        <div style="overflow-x: auto;" class="col-sm-12">



                          <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Reg No</th>
                  <th>Class</th>
                  <th>Date</th>
                  <th>Restore</th>
                </tr>
              </thead>
              <tbody>
                {% for student in student %}
                <tr role="row" class="odd">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ student.personal_info.first_name|upper }} {{ student.personal_info.last_name|upper }}

                    {% if request.user|has_group:'Admin' or request.user|has_group:'Admin2' %}

                    <a title="delete student completely" href="{% url 'deleted-students-re' student.personal_info.user.username %}" class="btn btn-danger">
                      <i title="delete student completely" class="fa fa-trash-o"></i>

                      {% endif %}
                  </a>
                  </td>
                  <td>{{ student.registration_no }}</td>
                  <td>{{ student.class_info|upper }}</td>
                  <td>{{ student.date }}</td>
                  <td>

    <a id="restore_student" title="restore student"  href="{% url 'restore-student-re' student.personal_info.user.username %}" class="btn btn-warning moveeee">
      <i title="restore student" class="fa fa-cloud-upload" ></i>
      <!-- <i title="restore student" class="fas fa-trash-restore"></i> -->
    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{student.start_index}}-{{student.end_index}} of {{student.paginator.count}} entries</div>
                        </div>



                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">


                        {% if student.has_other_pages %}
                          <ul class="pagination">
                            {% if student.has_previous %}
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in student.paginator.page_range %}
                              {% if student.number == i %}
                                <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if student.has_next %}
                              <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                        <!-- <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div> -->
{% else %}


<div class="card">
  <!-- <div class="card-header">
    <i class="fa fa-edit"></i> Student Tables

  </div> -->
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="row">
        <h2>No Student found</h2>
        </div>
    </div>
</div>


    </div>
    {% endif %}
{% endblock %}










{% block java %}
  <script>



$(document).ready(function(){

 $('#search_forms').on('submit', function(e){
      e.preventDefault();
      var search = $("#search_input").val();

      saveans1(search);
  });

  function saveans1(search){
      $.ajax({
          type: 'POST',
          url: "{% url 'teacher-list-search' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'search': search
            },
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
          success: function(data){
              //console.log(data.form)
              var std_lst = $('#teacher_list');
              std_lst.html(data.form);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


});





$(document).ready(function(){

 $('#search_forms').on('submit', function(e){
      e.preventDefault();
      var search = $("#search_input").val();

      saveans1(search);
  });

  function saveans1(search){
      $.ajax({
          type: 'POST',
          url: "{% url 'teacher-list-search' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'search': search
            },
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
          success: function(data){
              //console.log(data.form)
              var std_lst = $('#teacher_list');
              std_lst.html(data.form);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


});




</script>
    {% endblock %}