{% if student|length > 0 %}






<div class="card">
            <div class="card-header">
                <h6> <span style="color:red;">CURRENT SESSION:</span> {{current_session.time}}</h6>
                <h6> <span style="color:red;">CURRENT TERM:</span> {{current_term.term}}</h6>
                <h6> <span style="color:red;">CLASS:</span> {{class}}</h6>

                <div class="card-header-actions">
                    <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a> -->
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>Show
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label>
                            </div>
                        </div>

                        <!-- <div class="animated fadeIn">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Select class to retrieve list</h2>
                                </div>
                                <div class="card-body">
                                    <form id="forms" action="" method="POST">
                                      {% csrf_token %}
                                      <label>Select class:
                                        {{ forms.class_info }}    
                                      </label>
                                    </form>
                                </div>
                            </div>
                        </div> -->



                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <form id="search_forms" action="{% url 'student-search' class %}" method="POST">
                                    {% csrf_token %}
                                  <label>Search:
                                      <input type="search" id="search_input" name="search_inputs" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                  </label>
                                  <input id="search_button" type="submit" value="search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="table_change">
                     <div  class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Reg No</th>
                                        <th>Class</th>
                                        <th>Date</th>
                                        <th>Result Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in student %}


                                          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Upload Result</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="show_message">{{ message }}</div>
        <form id="a_form" role="form" method="POST" enctype="multipart/form-data" action="{% url 'student-upload-result' student.registration_no %}">
            {% csrf_token %}
          {{ forms1.pdf }}

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form" type="submit" class="btn btn-primary" form="a_form">Upload</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal end -->






                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ student.personal_info.first_name|upper }} {{ student.personal_info.last_name|upper }}</td>
                                          <td>{{ student.registration_no }}</td>
                                          <td>{{ student.class_info|upper }}</td>
                                          <td>{{ student.date }}</td>


                                          <td>
                                        {% ifequal student.result.year.time current_session.time %}
                                          {% ifequal student.result.term.term current_term.term %}
                                              <a title="preview result" class="btn btn-success" href="{% url 'student-result' student.registration_no %}">
                                                  <i title="preview result" style="color: white;" class="fa fa-eye"></i>
                                              </a>
                                              {% endifequal %}
                                          {% endifequal %}

                                              {% if student.result.year.time == current_session.time %}
                                          {% if student.result.term.term == current_term.term %}


                                        {% else %}


                                              <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                                                  <i title="upload result" class="fa fa-cloud-upload" ></i>
                                              </a>

                                              {% endif %}

                                               {% else %}


                                              <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                                                  <i title="upload result" class="fa fa-cloud-upload" ></i>
                                              </a>


                                          {% endif %}



                                        {% ifequal student.result.year.time current_session.time %}
                                          {% ifequal student.result.term.term current_term.term %}
                                              <a title="delete result" class="btn btn-danger" href="{% url 'student-delete' student.registration_no %}">
                                                  <i title="delete result" class="fa fa-trash-o"></i>
                                                  <!-- <i tooltip="delete result" class="fa fa-street-view"></i> -->
                                              </a>

                                              {% endifequal %}
                                          {% endifequal %}
                                          </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{student.start_index}}-{{student.end_index}} of {{student.paginator.count}} entries</div>
                        </div>



                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">


                        {% if student.has_other_pages %}
                          <ul class="pagination">
                            {% if student.has_previous %}
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in student.paginator.page_range %}
                              {% if student.number == i %}
                                <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if student.has_next %}
                              <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

















<script src="{% static 'static/javascript/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'static/javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script type="text/javascript">





var student_reg_no; 
$('.student_reg_no').click(function(e){
  student_reg_no = $(this).attr("data-student");
  console.log(student_reg_no)

var action = $('#a_form').attr('action', `http://127.0.0.1:8000/student/student-upload-result/${student_reg_no}`);
console.log(action)

});



/*form.action = `/student/student-upload-result/${student_reg_no}`;*/

/*(function(){
$('#a_form').submit(function(event){
  event.preventDefault();
  var formData = new FormData(this); //get data of form elements for submission
  console.log(student_reg_no)

  $.ajax({
    url: `http://127.0.0.1:8000/student/student-upload-result/${student_reg_no}`,
    headers: {'X-CSRFToken': csrftoken},
    type: "POST",
    enctype: 'multipart/form-data',
    data: formData,
    processData: false,
    contentType: false,
    cache: false,
    success: function (data) {
      $('#a_form').html(data.form);
    }
  });
  return false;
});




function getCookie(name){
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
const csrftoken = getCookie('csrftoken');



})();*/



</script>


{% else %}
                

<div class="card">
  <!-- <div class="card-header">
    <i class="fa fa-edit"></i> Student Tables
    
  </div> -->
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="row">
        <h2>No student found</h2>
        </div>
    </div>
</div>







           
{% endif %}