<style type="text/css">
     label { 
        width: 100%; 
      }

      

  </style>

  <style type="text/css">
     .lab { 
        width: 100%; 
      }

      .wrap-input100 {
        color: red;
      }

      


      #is_delete{
        width: 50px;
      }

      

  </style>



  
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}





        <div class="card">
          <div class="card-header">Change <b>{{full_name}}'s</b> Password</div>
          <div class="card-body">
            {% csrf_token %}


            <label for="id_first_name">Old password:</label>
              {{ personal_info.pass_word }}<br>
              {% if personal_info.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info.pass_word.errors }}</div>
                  {% endif %}

              

              {{ form.old_password }}

              

              <label for="id_last_name">New password:</label>
              {{ form.new_password1 }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.new_password1.errors }}</div>
                  {% endif %}


              <label for="id_last_name">New password confirmation:</label>
              {{ form.new_password2 }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.new_password2.errors }}</div>
                  {% endif %}
              

          </div>
        </div>

        
        

<script type="text/javascript">
  
      var old_password = document.querySelector('#id_old_password');
      var pass_word = document.querySelector('#id_pass_word');
      var new_password1 = document.querySelector('#id_new_password1');
      var new_password2 = document.querySelector('#id_new_password2');

      

      old_password.setAttribute('class', 'form-control lab');
      pass_word.setAttribute('class', 'form-control lab');
      new_password1.setAttribute('class', 'form-control lab');
      new_password2.setAttribute('class', 'form-control lab');

      old_password.value = pass_word.value;


      old_password.style.visibility = "hidden";
      new_password1.required = true;
      new_password2.required = true;


      new_password2.autocomplete = false;
      new_password2.autofocus = false;

      old_password.autocomplete = false;
      old_password.autofocus = false;

      pass_word.autocomplete = false;
      pass_word.autofocus = false;
      
      new_password1.autocomplete = false;
      new_password1.autofocus = false;

</script>