<div  class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Reg No</th>
                                        <th>Class</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in student %}
                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ student.personal_info.first_name|upper }} {{ student.personal_info.last_name|upper }}</td>
                                          <td>{{ student.registration_no }}</td>
                                          <td>{{ student.class_info|upper }}</td>
                                          <td>{{ student.date }}</td>
                                          <td>
                                              <a class="btn btn-success" href="{% url 'student-profile' student.registration_no %}">
                                                  <i class="fa fa-search-plus"></i>
                                              </a>
                                              <a class="btn btn-info" href="{% url 'student-edit' student.registration_no %}">
                                                  <i class="fa fa-edit"></i>
                                              </a>
                                              <a class="btn btn-danger" href="{% url 'student-delete' student.registration_no %}">
                                                  <i class="fa fa-trash-o"></i>
                                              </a>
                                          </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{student.start_index}}-{{student.end_index}} of {{student.paginator.count}} entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>