<style type="text/css">
     label {
        width: 100%;
      }



  </style>

  <style type="text/css">
     .lab {
        width: 100%;
      }

      .wrap-input100 {
        color: red;
      }




      #is_delete{
        width: 50px;
      }



  </style>




  {% if academic_info_form.errors %}
    {% for field in academic_info_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in academic_info_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if user_creation_form.errors %}
    {% for field in user_creation_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_creation_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if personal_info_form.errors %}
    {% for field in personal_info_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in personal_info_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



        <div class="card">
          <div class="card-header">Edit Information</div>
          <div class="card-body">
            {% csrf_token %}


            <label class="lab" for="id_first_name">Class:</label>
              {{ personal_info_form.class_of_student }}<br>



              <!-- <label for="id_username">Registration no</label>
              {{ user_creation_form.username }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.username.errors }}</div>
                  {% endif %} -->

              <label for="id_first_name">First name:</label>
              {{ personal_info_form.first_name }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.first_name.errors }}</div>
                  {% endif %}

              <label for="id_last_name">Last name:</label>
              {{ personal_info_form.last_name }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.last_name.errors }}</div>
                  {% endif %}

              <!-- <label for="id_email">Email:</label>
              {{ user_creation_form.email }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.email.errors }}</div>
                  {% endif %}
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.email.errors }}</div>
                  {% endif %}

              <label for="id_password1">Password:</label>
              {{ user_creation_form.password1 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password1.errors }}</div>
                  {% endif %}

              <label for="id_password2">Password confirmation:</label>
              {{ user_creation_form.password2 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password2.errors }}</div>
                  {% endif %} -->


              <label for="id_photo">Photo:</label>
              {{ personal_info_form.photo }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.photo.errors }}</div>
                  {% endif %}

              <label for="id_date_of_birth">Date of birth:</label>
              {{ personal_info_form.date_of_birth }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.date_of_birth.errors }}</div>
                  {% endif %}

              <label for="id_gender">Gender:</label>
              {{ personal_info_form.gender }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.gender.errors }}</div>
                  {% endif %}


              <label for="id_phone_no">Phone no:</label>
              {{ personal_info_form.phone_no }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.phone_no.errors }}</div>
                  {% endif %}

              <label for="id_religion">Religion:</label>
              {{ personal_info_form.religion }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.religion.errors }}</div>
                  {% endif %}

              <label for="id_nationality">Nationality:</label>
              {{ personal_info_form.nationality }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.nationality.errors }}</div>
                  {% endif %}


                  <div class="card">
          <div class="card-header">Delete Student</div>
          <div class="card-body">
                  <label id="is_delete" for="id_is_delete">Delete:</label>
              {{ academic_info_form.is_delete }}<br>
              {% if academic_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ academic_info_form.is_delete.errors }}</div>
                  {% endif %}

                </div>
              </div>
            </div>



          </div>
        </div>




<script type="text/javascript">

      var class_of_student = document.querySelector('#id_class_of_student');
      var first_name = document.querySelector('#id_first_name');
      var last_name = document.querySelector('#id_last_name');
      var photo = document.querySelector('#id_photo');
      var date_of_birth = document.querySelector('#id_date_of_birth');
      var gender = document.querySelector('#id_gender');
      var phone_no = document.querySelector('#id_phone_no');
      var religion = document.querySelector('#id_religion');
      var nationality = document.querySelector('#id_nationality');



      class_of_student.setAttribute('class', 'form-control lab');
      first_name.setAttribute('class', 'form-control lab');
      last_name.setAttribute('class', 'form-control lab');

      photo.setAttribute('class', 'form-control lab');
      date_of_birth.setAttribute('class', 'form-control lab');

      date_of_birth.setAttribute('type', 'date');
      gender.setAttribute('class', 'form-control lab');

      phone_no.setAttribute('class', 'form-control lab');
      phone_no.setAttribute('type', 'number');
      religion.setAttribute('class', 'form-control lab');

      nationality.setAttribute('class', 'form-control lab');


      class_of_student.required = true;
      first_name.required = true;
      last_name.required = true;

</script>