
<div class="card">
  <!-- <div class="card-header">
    <i class="fa fa-edit"></i> Student Tables
    
  </div> -->
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="row">
        <form id="a_form" role="form" method="POST" enctype="multipart/form-data" action="{% url 'student-list2' %}">
            {% csrf_token %}
          {{ form.as_p }}

          <button id="upload_form" type="submit" class="btn btn-primary" >Upload</button>
        </form>
        </div>
    </div>
</div>

