{% load static %}
{% load manage_tags %}

<style type="text/css">
  .btn {
    float: right;
  }

  .pull-left {
    float: none;
  }
</style>


<div class="card-header">
    <h6> <span style="color:red;">CURRENT SESSION:</span> {{current_session.time}}</h6>
    <h6> <span style="color:red;">CURRENT TERM:</span> {{current_term.term}}</h6>
    <h6> <span style="color:red;">CLASS:</span> {{class}}</h6>

    <div class="card-header-actions">
        <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
            <small class="text-muted">docs</small>
        </a> -->
    </div>
  </div>
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <form id="search_forms" action="" method="POST">
                    {% csrf_token %}
                  <label>Search:
                      <input type="search" id="search_input" name="search_inputs" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0" required>
                  </label>
                  <input id="search_button" type="submit" value="search">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="table_change">
        <div  class="row">
          <div style="overflow-x: auto;" class="col-sm-12">
            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Reg No</th>
                  <th>Class</th>
                  <th>Date</th>
                  <th>Result Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for student in student %}
                <tr role="row" class="odd">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ student.personal_info.first_name|upper }} {{ student.personal_info.last_name|upper }}

                    <a title="delete student" class="btn btn-danger student_delete" data-username="student-delete/{{student.registration_no}}" href="{% url 'student-delete' student.registration_no %}">
                      <i title="delete student" class="fa fa-trash-o"></i>
                  </a>


                  <a id="edit_student" title="edit student" data-toggle="modal" data-username="student-edit-edit/{{student.registration_no}}" data-info="{{student.registration_no}}" data-target="#exampleModalScrollable"  class="btn btn-info username" href="">
                      <i title="edit student" class="fa fa-pencil-square-o" ></i>
                  </a>
                  </td>
                  <td>{{ student.registration_no }}</td>
                  <td>{{ student.class_info|upper }}</td>
                  <td>{{ student.date }}</td>
                  <td>

                    {% session student.personal_info.user as sessions %}
                    {% if sessions %}
                    {% if current_session.time in sessions  %}
                    {% terms student.personal_info.user as termss %}
                    {% if termss %}
                    {% if current_term.term in termss  %}


                    {% if request.user.is_authenticated %}
                    {% if request.user|has_group:'Admin' or request.user|has_group:'Admin2' %}



                    <a title="delete result" class="btn btn-danger" href="{% url 'result-delete' student.registration_no %}">
                        <i title="delete result" class="fa fa-trash-o"></i>
                    </a>

                    {% endif %}
                    {% endif %}




                    <a title="preview result" class="btn btn-success" href="{% url 'student-result' student.registration_no %}">
                        <i title="preview result" style="color: white;" class="fa fa-eye"></i>
                    </a>




                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}



                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}




                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}



                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{student.start_index}}-{{student.end_index}} of {{student.paginator.count}} entries
              </div>

              <input id="clas" type="hidden" value="{{ class }}">
              <button id="back" class="btn btn-primary pull-left">back to class</button>

              <script type="text/javascript">

                  $(document).ready(function(){

 $('#back').on('click', function(e){
      /*e.preventDefault();*/
      var clas = $("#clas").val();
      console.log(clas)

      saveans1(clas);
  });

  function saveans1(clas){
      $.ajax({
          type: 'POST',
          url: "{% url 'student-list' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'class_info': clas
            },
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
          success: function(data){
              console.log(data.form)
              var std_lst = $('#student_list');
              std_lst.html(data.form);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


});



                </script>



          </div>

          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              {% if student.has_other_pages %}
              <ul class="pagination">
                {% if student.has_previous %}
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a>
                </li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in student.paginator.page_range %}
                  {% if student.number == i %}
                    <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if student.has_next %}
                  <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'static/javascript/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'static/javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script type="text/javascript">





var student_reg_no;
$('.student_reg_no').click(function(e){
  student_reg_no = $(this).attr("data-student");
  console.log(student_reg_no)

var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/student/student-upload-result/${student_reg_no}`);
console.log(action)

});




var username;
var info;
var r_url;
$('.username').click(function(e){
    e.preventDefault();
    username = $(this).attr("data-username");
    info = $(this).attr("data-info");
    console.log(username)

    if (username === `student-edit-edit/${info}`){
      var action = $('#a_form3').attr('action', `https://resultcheckerv1.pythonanywhere.com/student/${username}/`);
      r_url = `https://resultcheckerv1.pythonanywhere.com/student/${username}/`
    }
    //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
    saveans();
});




function saveans(){
    $.ajax({
        type: 'POST',
        url: r_url,
        headers: {'X-CSRFToken': csrftoken},
        data : {
          "class_name": username
        },
        dataType: 'json',
        beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
        success: function(data){
          if (username === `student-edit-edit/${info}`){
            $('#edit-teacher').html(data.form);
            console.log("action2")
          }
          /*console.log(data.form)
          $('#edit-form').html(data.form);*/
        },
        complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
    });
    return false;
}



function getCookie(name){
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
const csrftoken = getCookie('csrftoken');

</script>