{% extends 'base/base.html' %}
{% load static %}

{% block content %}






<style type="text/css">
     label {
        width: 20%;
        display: flex;
      }

      .wrap-input100 {
        color: red;
      }





       @media screen and (min-width: 536px) {
      .label {
        display: inline-block;
      }



    }




  </style>




  {% if academic_info_form.errors %}
    {% for field in academic_info_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in academic_info_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if user_creation_form.errors %}
    {% for field in user_creation_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_creation_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if personal_info_form.errors %}
    {% for field in personal_info_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in personal_info_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}






  <div class="card">
    <div class="card-header">Student Registration Form</div>
    <div class="card-body">
        <h3>Excel Format</h3>
        <a href="{% url 'export_students_registration_xls' %}"><button type="submit" class="btn btn-primary">Download Students Excel Format</button></a>
        <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Class<span style="color:red">*</span></th>
                                        <th>Reg. No<span style="color:red">*</span></th>
                                        <th>First Name<span style="color:red">*</span></th>
                                        <th>Last Name<span style="color:red">*</span></th>
                                        <th>Email<span style="color:red">*</span></th>
                                        <th>Password<span style="color:red">*</span></th>
                                        <th>D.O.B</th>
                                        <th>Gender</th>
                                        <th>Phone No.</th>
                                        <th>Religion</th>
                                        <th>Nationality</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>


                                </tbody>
                            </table>
        <br>
        <div id="error-box" class="visible2" style="color:red;">Error, Try Another Excel File</div>
        <form action="{% url 'excell_student_registration' %}" method="post" enctype="multipart/form-data" id="student_excell_registration_form" data-upazilla-url="{% url 'load-upazilla' %}">

            {% csrf_token %}


            <label for="id_username">Upload Excel Sheet</label>
              {{ excell_upload_form.excell_sheet }}<br>
              {% if excell_upload_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ excell_upload_form.excell_sheet.errors }}</div>
                  {% endif %}


  </form>
  <br>
  <div id="alert-box"></div>

  <div id="progress-box" class="not-visible">Progress</div>
  <br>
  <div id="cancel-box" class="not-visible">
      <button id="cancel-btn" class="btn btn-danger">Cancel</button>
  </div>

  <h5 id="success-box" class="visible1">Students Successfully Added<i style="color:#66d166; font-size: 30px;" class="fa fa-check-square-o" aria-hidden="true"></i></h5>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <h3>Manual Student Registration</h3>
      <form action="" method="post" enctype="multipart/form-data" id="TeacherRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">

            {% csrf_token %}

            <label for="id_class_info">Select class:</label>
              {{ academic_info_form.class_info }}<br>



            <label for="id_username">Registration no</label>
              {{ user_creation_form.username }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.username.errors }}</div>
                  {% endif %}

              <label for="id_first_name">First name:</label>
              {{ personal_info_form.first_name }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.first_name.errors }}</div>
                  {% endif %}

              <label for="id_last_name">Last name:</label>
              {{ personal_info_form.last_name }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.last_name.errors }}</div>
                  {% endif %}

              <label for="id_email">Email:</label>
              {{ personal_info_form.email }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.email.errors }}</div>
                  {% endif %}

              <label for="id_password1">Password:</label>
              {{ user_creation_form.password1 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password1.errors }}</div>
                  {% endif %}

              <label for="id_password2">Password confirmation:</label>
              {{ user_creation_form.password2 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password2.errors }}</div>
                  {% endif %}


              <label for="id_photo">Photo:</label>
              {{ personal_info_form.photo }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.photo.errors }}</div>
                  {% endif %}

              <label for="id_date_of_birth">Date of birth:</label>
              {{ personal_info_form.date_of_birth }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.date_of_birth.errors }}</div>
                  {% endif %}

              <label for="id_gender">Gender:</label>
              {{ personal_info_form.gender }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.gender.errors }}</div>
                  {% endif %}


              <label for="id_phone_no">Phone no:</label>
              {{ personal_info_form.phone_no }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.phone_no.errors }}</div>
                  {% endif %}

              <label for="id_religion">Religion:</label>
              {{ personal_info_form.religion }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.religion.errors }}</div>
                  {% endif %}

              <label for="id_nationality">Nationality:</label>
              {{ personal_info_form.nationality }}<br>
              {% if personal_info_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ personal_info_form.nationality.errors }}</div>
                  {% endif %}

              <button type="submit" class="btn btn-primary">Submit</button>


  </form>

</div>
</div>
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
      <script>




        /*var class_info = document.querySelector('#id_class_info');*/
      var class_info = document.querySelector('#id_class_info');
      var username = document.querySelector('#id_username');
      var password1 = document.querySelector('#id_password1');
      var password2 = document.querySelector('#id_password2');
      var first_name = document.querySelector('#id_first_name');
      var last_name = document.querySelector('#id_last_name');
      var email = document.querySelector('#id_email');

      var date_of_birth = document.querySelector('#id_date_of_birth');
      var phone_no = document.querySelector('#id_phone_no');



      const student_excell = document.querySelector('#student_excell_registration_form');
      const excell_sheet = document.querySelector('#id_excell_sheet');
      const alert_box = document.querySelector('#alert-box');
      const progress_box = document.querySelector('#progress-box');
      const cancel_box = document.querySelector('#cancel-box');
      const cancel_btn = document.querySelector('#cancel-btn');
      const success_box = document.querySelector('#success-box');
      const error_box = document.querySelector('#error-box');



      student_excell.reset()


      const csrf = document.getElementsByName('csrfmiddlewaretoken');


      excell_sheet.addEventListener('change', ()=>{
          progress_box.classList.remove('not-visible');
          cancel_box.classList.remove('not-visible');
          success_box.classList.add('visible1');



          var excel_data = excell_sheet.files[0];
          console.log("excel_data");
          console.log(excel_data);

          var fd  = new FormData();
          fd.append('csrfmiddlewaretoken', csrf[0].value);
          fd.append('xlsx', excel_data);
          /*formData.append("csrfmiddlewaretoken", csrf[2].value);
          formData.append("xlsx", excel_data);*/
          for (var pair of fd.entries()){
              console.log(pair[0]+ ', '+ pair[1]);
            }


          $.ajax({
              type:'POST',
              url: student_excell.action,
              enctype: 'multipart/form-data',
              data: fd,
              beforeSend: function(){

              },
              xhr: function(){
                  const xhr = new window.XMLHttpRequest();
                  xhr.upload.addEventListener('progress', e=>{
                      //console.log(e)
                      if (e.lengthComputable){
                          const percent = e.loaded / e.total * 100
                          console.log(percent)
                          progress_box.innerHTML = `<div class="progress">
                                                      <div class="progress-bar" role="progressbar" style="width: ${percent}%;" aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100">${percent}%</div>
                                                    </div>`
                      }
                  })
                  cancel_btn.addEventListener('click', ()=>{
                      xhr.abort()
                      setTimeout(()=>{
                            student_excell.reset()
                            progress_box.innerHTML = ''
                            cancel_box.classList.add('not-visible');
                      }, 2000)

                  })
                  return xhr

              },
              success: function(response){
                  console.log("success")
                  cancel_box.classList.add('not-visible');
                  success_box.classList.remove('visible1');
              },
              error: function(error){
                  console.log(error.responseText)
                  error_box.classList.remove('visible2');
              },
              cache: false,
              contentType: false,
              processData: false,
          })
      })



      username.setAttribute('class', 'form-control');

      class_info.setAttribute('class', 'form-control');


      password1.setAttribute('class', 'form-control');
      password2.setAttribute('class', 'form-control');
      first_name.setAttribute('class', 'form-control');
      last_name.setAttribute('class', 'form-control');
      email.setAttribute('class', 'form-control');

      date_of_birth.setAttribute('type', 'date');
      phone_no.setAttribute('type', 'number');


      class_info.required = true;
      first_name.required = true;
      last_name.required = true;





      </script>
  </div>
{% endblock %}
