{% extends 'base/base.html' %}
{% load static %}
{% load manage_tags %}

{% block content %}
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h2>Select Class To Retrieve</h2>
            </div>
            <div class="card-body">
                <form action="" method="GET">
                  <label>Select class:
                    {{ forms.class_info }}
                  </label>
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
    {% if student %}






                                          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Upload Result</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="show_message">{{ message }}</div>
        <form id="a_form" role="form" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
          {{ forms1.pdf }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form" type="submit" class="btn btn-primary" form="a_form">Upload</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal end -->

<style type="text/css">
  .btn {
    float: right;
  }
</style>

    <div id="student_list" class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h6> <span style="color:red;">CURRENT SESSION:</span> {{current_session.name}}</h6>
                <h6> <span style="color:red;">CURRENT TERM:</span> {{current_term.name}}</h6>
                <h6> <span style="color:red;">CLASS:</span> {{class}}</h6>

                <div class="card-header-actions">
                    <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a> -->
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">

                            </div>
                        </div>




                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">

                            </div>
                        </div>
                    </div>
                    <div id="table_change">
                     <div  class="row">
                        <div style="overflow-x: auto;" class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Reg No</th>
                  <th>Class</th>
                  <th>Date</th>
                  <th>Result Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for student in student %}
                <tr role="row" class="odd">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ student.personal_info.first_name|upper }} {{ student.personal_info.last_name|upper }}

                    <a title="delete student" class="btn btn-danger student_delete" data-username="student-delete/{{student.registration_no}}" href="{% url 'student-delete' student.registration_no %}">
                      <i title="delete student" class="fa fa-trash-o"></i>
                  </a>


                  <a id="edit_student" title="edit student" data-toggle="modal" data-username="student-edit-edit/{{student.registration_no}}" data-info="{{student.registration_no}}" data-target=".bd-example-modal-lg"  class="btn btn-info username" href="">
                      <i title="edit student" class="fa fa-pencil-square-o" ></i>
                  </a>
                  </td>
                  <td>{{ student.registration_no }}</td>
                  <td>{{ student.class_info|upper }}</td>
                  <td>{{ student.date }}</td>
                  <td>

                    {% session student.personal_info.user as sessions %}
                    {% if sessions %}
                    {% if current_session.time in sessions  %}
                    {% terms student.personal_info.user as termss %}
                    {% if termss %}
                    {% if current_term.term in termss  %}


                    {% if request.user.is_authenticated %}
                    {% if request.user|has_group:'Admin' %}



                    <a title="delete result" class="btn btn-danger" href="{% url 'student-delete' student.registration_no %}">
                        <i title="delete result" class="fa fa-trash-o"></i>
                    </a>

                    {% endif %}
                    {% endif %}




                    <a title="preview result" class="btn btn-success" href="{% url 'student-result' student.registration_no %}">
                        <i title="preview result" style="color: white;" class="fa fa-eye"></i>
                    </a>




                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}



                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}




                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}



                    {% else %}
                    <a id="student_re" title="upload result" data-toggle="modal" data-student="{{ student.registration_no }}" data-target="#exampleModalCenter" class="btn btn-info student_reg_no" href="">
                        <i title="upload result" class="fa fa-cloud-upload" ></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{student.start_index}}-{{student.end_index}} of {{student.paginator.count}} entries</div>
                        </div>



                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">


                        {% if student.has_other_pages %}
                          <ul class="pagination">
                            {% if student.has_previous %}
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in student.paginator.page_range %}
                              {% if student.number == i %}
                                <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if student.has_next %}
                              <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% else %}


<div class="card">
  <!-- <div class="card-header">
    <i class="fa fa-edit"></i> Student Tables

  </div> -->
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="row">
        <h2>No student found</h2>
        </div>
    </div>
</div>


    </div>
          {% endif %}
      </div>
  </div>
{% endblock %}













{% block java %}
  <script>
$(document).ready(function(){
    $('#select_class').on('change', function(e){
      e.preventDefault();
      var class_info = $("#id_class_info option:selected").text();
      console.log(class_info)

      saveans1(class_info);
  });

  function saveans1(class_info){
      $.ajax({
          type: 'POST',
          url: "{% url 'student-list' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'class_info': class_info
            },
          success: function(data){
              //console.log(data.form)
              var std_lst = $('#student_list');
              std_lst.html(data.form);
          }
      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');



});












</script>
    {% endblock %}