{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  #check {
    visibility: hidden;
  }
</style>
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h5>Select class to retrieve list</h5>
            </div>
            <div class="card-body">
                <form id="select_class" action="" method="POST">
                  {% csrf_token %}
                  <label>Select class:
                    {{ forms.class_info }}
                  </label>
                </form>
                <input id="check" type="text" value="{{ username }}">

            </div>
        </div>
    </div>
    <!-- Large modal -->


<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Student Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="a_form3" role="form" enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div id="edit-teacher">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form3" type="submit" class="btn btn-primary" form="a_form3">Save changes</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Student Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="a_form4" role="form" enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div id="edit-password">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form4" type="submit" class="btn btn-primary" form="a_form4">Save changes</button>
      </div>
    </div>
  </div>
</div>




                                          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Upload Result</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="show_message">{{ message }}</div>
        <form id="a_form" role="form" method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
          {{ forms1.pdf }}

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form" type="submit" class="btn btn-primary" form="a_form">Upload</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal end -->
    <div id="student_list" class="animated fadeIn">



    </div>
{% endblock %}










{% block java %}
  <script>

     var class_info = document.querySelector('#id_class_info');

      class_info.id = "class_class";



$(document).ready(function(){
  $('#select_class').on('change', function(e){
    e.preventDefault();
    var class_info = $("#class_class option:selected").text();
    console.log(class_info)

    saveans1(class_info);
  });

  function saveans1(class_info){
      $.ajax({
          type: 'POST',
          url: "{% url 'student-list' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'class_info': class_info
            },
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
          success: function(data){
              //console.log(data.form)
              var std_lst = $('#student_list');
              std_lst.html(data.form);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }

      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');



});









</script>


<script type="text/javascript">
                  $(document).ready(function(){

                    console.log("check1")

                    $(document).ready(function(){
                      var check = $('#check').val();
                      console.log("check")
                      console.log(check)
                      if (check) {
                        var class_info = check;
                        console.log(class_info)

                        saveans5(class_info);

                      }

                    });



                    function saveans5(class_info){
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'student-list' %}",
                            headers: {'X-CSRFToken': csrftoken},
                            data : {
                                  'class_info': class_info
                              },
                             beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                                    $("#overlay").fadeIn(300);　
                                },
                            success: function(data){
                                //console.log(data.form)
                                var std_lst = $('#student_list');
                                std_lst.html(data.form);
                            },

                            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                                 $("#overlay").fadeOut(300);
                            }
                        });
                        return false;
                    }

                    function getCookie(name){
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    const csrftoken = getCookie('csrftoken');

                  });
                </script>




    {% endblock %}