{% load static %}
<aside class="aside-menu">
    <ul class="nav nav-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'administration:logout' %}">Logout</a>
        </li>
    </ul>



</aside>
