{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--Headers-->
{% include 'base/header.html' %}



<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar-->
{% include 'base/navbar.html' %}

<div class="app-body">
    <div id="overlay">
          <div class="cv-spinner">
            <span class="spinner"></span>
          </div>
        </div>
    <!--Sidebar-->
    {% include 'base/sidebar.html' %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        {% include 'base/breadcrumb.html' %}

        <!-- Page contents -->



        <div class="container-fluid">
            <div id="whole" class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>


    <!--Aside bar-->
    {% include 'base/asidebar.html' %}

</div>

<!--Footer-->
{% include 'base/footer.html' %}

<!--JS-->
{% include 'base/js.html' %}

    <script src="{% static 'static/javascript/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'static/javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    {% block java %}
    {% endblock %}

    {% block java1 %}
    {% endblock %}



 {% if messages %}
    {% for message in messages %}
    {% if 'success' in message.extra_tags %}
      <script>
        Swal.fire({
          "title": "Thanks!",
          "text": "{{ message }}",
          "icon": "success"
        })
      </script>
      {% elif 'warning' in message.extra_tags %}
      <script>
          Swal.fire({
              "title": "Warning!",
              "text": "{{ message }}",
              "icon": "warning"
          })
      </script>
      {% elif 'error' in message.extra_tags %}
      <script>
          Swal.fire({
              "title": "Error!",
              "text": "{{ message }}",
              "icon": "error"
          })
      </script>
      {% endif %}
      {% endfor %}
    {% endif %}


</body>
</html>
