{% load static %}
{% load manage_tags %}



<!-- Large modal -->

<!--<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Admin Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="a_form9" role="form" enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div id="edit-admin">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form3" type="submit" class="btn btn-primary" form="a_form9">Save changes</button>
      </div>
    </div>
  </div>
</div>

-->

{% if request.path == '/result/result-preview' %}

{% else %}


<ol class="breadcrumb" style="margin-bottom: 0; padding: 0px 10px;">

    {% if request.user.is_authenticated %}
          {% if request.user|has_group:'Students' %}
              <!-- code when Authenticated user is in Students group -->
              <li class="breadcrumb-item" style="color:red;">Home</li>
              <li class="breadcrumb-item" style="color:red;">Student</li>

          {% elif request.user|has_group:'Teachers' %}
              <!-- code when Authenticated user is in Teachers group -->
               <li class="breadcrumb-item" style="color:red;">Home</li>
               <li class="breadcrumb-item" style="color:red;">Teacher</li>



    {% if request.path == url %}
    <li id="back" class="{{ clas }}">&nbsp;/ <a href="{% url 'student-list-re' username=clas %}">&nbsp;{{ clas }}</a></li>

    {% else %}

    {% endif %}


          {% elif request.user|has_group:'Admin' or request.user|has_group:'Admin1' or request.user|has_group:'Admin2' %}

              <!-- code when Authenticated user is not in Teachers or Students group -->
               <li class="breadcrumb-item" style="color:red;">Home</li>
              <li class="breadcrumb-item" style="color:red;">Admin</li>



{% if request.path == url %}
    <li id="back" class="{{ clas }}">&nbsp;/ <a href="{% url 'student-list-re' username=clas %}">&nbsp;{{ clas }}</a></li>

     {% else %}

    {% endif %}

<!--<li class="breadcrumb-item">
    <a id="edit_admin" title="edit admin" data-toggle="modal" data-username="admin-edit/{{request.user.username}}" data-info="{{request.user.username}}" data-target="#exampleModalScrollable"  class="btn btn-outline-info edit_admin" href="">
        Edit
  <i title="edit admin" class="fa fa-pencil-square-o" ></i>
</a>
</li>

-->


<!--<script>

    var username;
    var info;
    var r_url;
    $('.edit_admin').click(function(e){
        e.preventDefault();
        username = $(this).attr("data-username");
        info = $(this).attr("data-info");
        console.log(username)
        console.log(info)

        var action = $('#a_form9').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        console.log("username1")
        r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`
        console.log("username2")
        //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        saveans();
        console.log("username3")
    });




    function saveans(){
        console.log("username4")
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": username
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){

                $('#edit-admin').html(data.form);
                console.log("action2")
              /*console.log(data.form)
              $('#edit-form').html(data.form);*/
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');









</script>-->











{% else %}

          <li class="breadcrumb-item">Home</li>


          {% endif %}


          {% else %}
            <!-- code if user is not Authenticated -->
            <li class="breadcrumb-item">Home</li>


          {% endif %}





    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">


        </div>
    </li>

    {% block breadcrumb %}
    {% endblock %}
</ol>


{% endif %}