<footer class="app-footer">
    <span id="foot"><b>Tel:</b> 08109919966, 07066226603</span>&nbsp; &nbsp;
    <div id="foot2"><b>Adress:</b> Zone C, Onala Street, Balemo Quarters, off Afao road, Oke-ila, Ado Ekiti</div>
    <span id="foot1" class="ml-auto"><b>Email:</b> christfieldschool@yahoo.com</span>
    {% block extrafooter %}
    {% endblock %}
</footer>