{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Result-Chaecker - Open Source Result Checking Application">
    <meta name="author" content="Ogoke Nnamdi">
    <meta name="keyword" content="">
    <!-- <link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}"> -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/form.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {% block extrahead %}
    <style type="text/css">
    .visible2{
        display:none;
    }
    .visible1{
        display:none;
    }
    .not-visible{
        display:none;
    }
     .iconify {
        color: white;
      }

      #foot2{
        margin: auto auto;
        text-align: center;
      }

      #profile {
        color: white;
        position: relative;
        left: 31%;
        top: 30px;
      }

      .move-left {
        font-weight: 800;
          margin-left: 1.2em;
      }

      .move-left1 {
          font-weight: 400;
      }

      .perfect {
        display: flex;
      }

      /*#label_class_info{
        display: contents;
      }*/

      #class_class{
        width: 60%;
      }

      #id_is_delete{
        width: 50px;
      }

      .form-control {
        display: flex;
        width: 95%;
      }



      #new {
        width: 95%;
      }


      {% block linking %}
    {% endblock %}




      @media screen and (min-width: 750px) {
      .perfect {
        display: inline-block;
      }

      /*#label_class_info{
        display: contents;
      }*/

      #class_class{
        width: 250px;
      }

      .form-control {
        display: flex;
        width: 35%;
      }


      #search_input{
        width: auto;
      }

      #new {
        width: 35%;
      }
    }



    /*@media screen and (max-width: 535px) {
      #id_class_info{
        width: 60%px;
        display: inline-block;
      }
    }*/



    @media screen and (max-width: 1330px) {

      #foot{
          margin: auto auto;
      }

      #foot1{
        margin: auto auto;
      }


    }



    #overlay{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: black;*/
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}


      </style>
    {% endblock %}


</head>
