{% load static %}
{% load manage_tags %}

<style type="text/css">
button:focus {
    outline: 0px dotted;
    /* outline: 5px auto -webkit-focus-ring-color; */
}
.img-avatar {
     border-radius: unset;
}

@media (max-width: 991px){
    #loggo {
        visibility: hidden;
    }
}

</style>

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a style="height: unset; margin-right: 50px;" class="navbar-brand" href="#"><img style="width:80px;" src="{% static 'src/img/masterhills.png' %}" class="img-avatar" alt="Anynumos"><h6 id="loggo" style="" class="navbar-brand" style="text-align: center;">MASTER HILLS SCHOOLS</h6></a>


    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon" style="margin-top: -25.5px; margin-left: 170px;"></span>
    </button>


    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">



            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
                        class="badge badge-info">42</span></a>
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>
                <a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="{% url 'update-profile' %}"><i class="fa fa-wrench"></i> Settings</a>
                <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a>
                <a class="dropdown-item" href="{% url 'administration:logout' %}"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>

            <a style="margin-top: -6px;" class="nav-link" href="{% url 'administration:logout' %}">Logout</a>

    {% block navbar %}
    {% endblock %}

</header>
