{% load static %}
{% load manage_tags %}

<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable8" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="a_form8" role="form" enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <div id="edit-password1">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form8" type="submit" class="btn btn-primary" form="a_form8">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      {% if request.user.is_authenticated %}

        {% if request.user|has_group:'Students' %}

          {% if request.user.user_student.all %}

            {% photo_student request.user as boool %}
            {% if boool == True %}
                <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 10px;" src="{{ request.user.user_student.all.0.photo.url }}" class="img-avatar" alt="admin">
            {% else %}
                <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 30px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">
            {% endif %}

          {% else %}
            <div>
              <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 30px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">
            </div>
          {% endif %}

          <div style="text-align: center; font-size: 140%;">
            {{ request.user.user_student.all.0.first_name|upper }}<br>
            {{ request.user.user_student.all.0.last_name|upper }}
          </div>


          <div style="text-align: center;">
            <small style="text-align: center; font-size: 100%; color: #fff;">
            <small style="text-align: center; font-size: 100%;color: #e06a49;">REG NO: </small>
            {{ request.user.user_student.all.0.student_persona.all.0.registration_no|upper }}
          </small>
          </div>
          <br>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="icon-speedometer"></i> Dashboard
            </a>
          </li>



          <!-- Result Section START -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="{% url 'result:mark-entry' %}">
              <i class="nav-icon icon-puzzle"></i>
              View Result
            </a>
            <ul class="nav-dropdown-items">
              <div class="nav-link">
                <i class="fas fa-users-class"></i>
                {{ request.user.user_student.all.0.class_of_student|upper }}
              </div>

              <div class="nav-link">
                <i class="fas fa-users-class"></i>
                {% current_term  %}
              </div>

              <div class="nav-link">
                <i class="fas fa-users-class"></i>
                {% current_session  %}
              </div>
            </ul>
          </li>

          {% if request.path == '/result/result-preview' %}


            <li class="nav-item">
               <a class="nav-link" href="{% url 'result:download' level=result.clas term=result.term year=result.year %}">
                   <i class="fa fa-download"></i>
                    Download
                 </a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="{% url 'result:print' level=result.clas term=result.term year=result.year %}" target="_blank">
                 <i class="fa fa-print"></i>
                  Print
                </a>
            </li>

          {% endif %}
          <!-- Result End -->


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Account</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Current Term School Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                        <i class="fa fa-list"></i>Session Payment History</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->

        {% elif request.user|has_group:'Teachers' %}

          {% if request.user.user_teacher.all %}

            {% photo_teacher request.user as booot %}
            {% if booot == True %}
              <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{{ request.user.user_teacher.all.0.photo.url }}" class="img-avatar" alt="admin">
            {% else %}
              <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">
            {% endif %}

          {% else %}
            <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">
          {% endif %}


          <div style="text-align: center; font-size: 140%;">
            {{ request.user.user_teacher.all.0.first_name|upper }}<br>
            {{ request.user.user_teacher.all.0.last_name|upper }}
          </div>


          <div style="text-align: center;">
            <small style="text-align: center; font-size: 100%; color: #fff;">
            <small style="text-align: center; font-size: 100%;color: #e06a49;">username: </small>
            {{ request.user.username }}
          </small>
          </div>

          <br>



          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="icon-speedometer"></i>
              Dashboard
            </a>
          </li>

          <!-- Student Section START -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student-registration' %}">
              <i class="fa fa-plus-circle"></i>
              Add Student
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'student-list' %}">
              <i class="fa fa-list"></i>
              Student List
            </a>
          </li>



          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Account</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Current Term School Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                        <i class="fa fa-list"></i>Session Payment History</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


        {% elif request.user|has_group:'Admin' %}
          <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">


          <div style="text-align: center;">
            <small style="text-align: center; font-size: 100%; color: #fff;">
            <small style="text-align: center; font-size: 100%;color: #e06a49;">username: </small>
            {{ request.user.username  }}
          </small>
          </div>

          <br>




          <!-- Academic Section START -->

          <li class="nav-item nav-dropdown">

            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>
              Dashboard
            </a>

            <ul class="nav-dropdown-items">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <i class="fa fa-plus-circle"></i>
                  home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:pincode_generated' %}">
                  <i class="fa fa-plus-circle"></i>
                  Create Pin
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:pin-database' %}">
                  <i class="fa fa-plus-circle"></i>
                  View Pin
                </a>
              </li>

              <li class="nav-item">
                <a data-toggle="modal" data-username="password_change1/{{request.user.username}}" data-info="{{request.user.username}}" data-target="#exampleModalScrollable1"  class="nav-link edit_password" href="#">
                  <i class="fa fa-plus-circle"></i>
                  Change Password
                </a>
              </li>

            </ul>
          </li>


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>
              Session
            </a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Create Session
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'current-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Current Session
                </a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Term</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'create-term' %}">
                      <i class="fa fa-plus-circle"></i>Create Term</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'current-term' %}">
                      <i class="fa fa-plus-circle"></i>Current Term</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->

          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Class</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-classroom' %}">
                      <i class="fa fa-plus-circle"></i>Create Class</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Students</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'student-registration' %}">
                        <i class="fa fa-plus-circle"></i>Student Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'student-list' %}">
                        <i class="fa fa-list"></i>Student List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-students' %}">
                        <i class="fa fa-list"></i>Deleted Students</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Teachers</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa fa-plus-circle"></i>Teacher Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-teachers' %}">
                        <i class="fa fa-list"></i>Deleted Teachers</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->



          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Account</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Current Term School Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                        <i class="fa fa-list"></i>Session Payment History</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


        {% elif request.user|has_group:'Admin1' %}
          <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">


          <div style="text-align: center;">
            <small style="text-align: center; font-size: 100%; color: #fff;">
            <small style="text-align: center; font-size: 100%;color: #e06a49;">username: </small>
            {{ request.user.username  }}
          </small>
          </div>

          <br>




          <!-- Academic Section START -->

          <li class="nav-item nav-dropdown">

            <a class="nav-link nav-dropdown-toggle" href="{% url 'home' %}">
              <i class="nav-icon icon-puzzle"></i>
              Dashboard
            </a>

            <!-- <ul class="nav-dropdown-items">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <i class="fa fa-plus-circle"></i>
                  home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:pincode_generated' %}">
                  <i class="fa fa-plus-circle"></i>
                  Create Pin
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:pin-database' %}">
                  <i class="fa fa-plus-circle"></i>
                  View Pin
                </a>
              </li>
            </ul> -->
          </li>


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>
              Session
            </a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Create Session
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'current-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Current Session
                </a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Term</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'create-term' %}">
                      <i class="fa fa-plus-circle"></i>Create Term</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'current-term' %}">
                      <i class="fa fa-plus-circle"></i>Current Term</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->

          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Class</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-classroom' %}">
                      <i class="fa fa-plus-circle"></i>Create Class</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Students</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'student-registration' %}">
                        <i class="fa fa-plus-circle"></i>Student Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'student-list' %}">
                        <i class="fa fa-list"></i>Student List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-students' %}">
                        <i class="fa fa-list"></i>Deleted Students</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Teachers</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa fa-plus-circle"></i>Teacher Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-teachers' %}">
                        <i class="fa fa-list"></i>Deleted Teachers</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Account</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Current Term School Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                        <i class="fa fa-list"></i>Session Payment History</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


      {% elif request.user|has_group:'Admin2' %}
          <img style="width: 50%; margin-left: 27%; margin-top: 30px; margin-bottom: 20px;" src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Anynumos">


          <div style="text-align: center;">
            <small style="text-align: center; font-size: 100%; color: #fff;">
            <small style="text-align: center; font-size: 100%;color: #e06a49;">username: </small>
            {{ request.user.username  }}
          </small>
          </div>

          <br>




          <!-- Academic Section START -->

          <li class="nav-item nav-dropdown">

            <a class="nav-link nav-dropdown-toggle" href="{% url 'home' %}">
              <i class="nav-icon icon-puzzle"></i>
              Dashboard
            </a>

             <ul class="nav-dropdown-items">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:pin-database' %}">
                  <i class="fa fa-plus-circle"></i>
                  View Pin
                </a>
              </li>

              <li class="nav-item">
                <a data-toggle="modal" data-username="password_change1/{{request.user.username}}" data-info="{{request.user.username}}" data-target="#exampleModalScrollable8"  class="nav-link edit_password" href="#">
                  <i class="fa fa-plus-circle"></i>
                  Change Password
                </a>
              </li>

            </ul>
          </li>


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>
              Session
            </a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Create Session
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'current-session' %}">
                  <i class="fa fa-plus-circle"></i>
                  Current Session
                </a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Term</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'create-term' %}">
                      <i class="fa fa-plus-circle"></i>Create Term</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'current-term' %}">
                      <i class="fa fa-plus-circle"></i>Current Term</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->

          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Class</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-classroom' %}">
                      <i class="fa fa-plus-circle"></i>Create Class</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Students</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'student-registration' %}">
                        <i class="fa fa-plus-circle"></i>Student Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'student-list' %}">
                        <i class="fa fa-list"></i>Student List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-students' %}">
                        <i class="fa fa-list"></i>Deleted Students</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Teachers</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa fa-plus-circle"></i>Teacher Reg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deleted-teachers' %}">
                        <i class="fa fa-list"></i>Deleted Teachers</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->




          <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Account</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                   <a class="nav-link" href="#">
                        <i class="fa fa-plus-circle"></i>Current Term School Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                        <i class="fa fa-list"></i>Session Payment History</a>
              </li>
            </ul>
          </li>
          <!-- Academic Section END -->


        {% endif %}



        {% else %}
            <!-- code if user is not Authenticated -->

      {% endif %}


    {% block sidebar %}
    {% endblock %}


    <script>




    var username;
    var info;
    var r_url;
    $('.edit_password').click(function(e){
        e.preventDefault();
        username = $(this).attr("data-username");
        info = $(this).attr("data-info");
        console.log(username)

        var action = $('#a_form8').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);

        r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`
        //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        saveans();
    });




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": username
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){

                $('#edit-password1').html(data.form);
                console.log("action2")
              /*console.log(data.form)
              $('#edit-form').html(data.form);*/
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');









</script>


    </ul>
  </nav>

</div>