<style type="text/css">
     label {
        width: 100%;
      }



  </style>



<style type="text/css">
     .lab {
        width: 100%;
      }

      #photoss {
        width: 20%;
      }


      #is_delete{
        width: 50px;
      }

      .wrap-input100 {
        color: red;
      }



  </style>



  {% if education_form.errors %}
    {% for field in education_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in education_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if user_creation_form.errors %}
    {% for field in user_creation_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_creation_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        <div class="card">
          <div class="card-header">Personal Information</div>
          <div class="card-body">
            {% csrf_token %}


              <label for="id_first_name">First name:</label>
              {{ form.first_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.first_name.errors }}</div>
                  {% endif %}

              <label for="id_last_name">Last name:</label>
              {{ form.last_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.last_name.errors }}</div>
                  {% endif %}



              <label for="id_photo">Photo:</label>
              {{ form.photo }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.photo.errors }}</div>
                  {% endif %}

              <label for="id_gender">Gender:</label>
              {{ form.gender }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.gender.errors }}</div>
                  {% endif %}

              <label for="id_gender">Date of birth:</label>
              {{ form.date_of_birth }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.date_of_birth.errors }}</div>
                  {% endif %}

             <label for="id_gender">Marital status:</label>
              {{ form.marital_status }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.marital_status.errors }}</div>
                  {% endif %}

              <label for="id_phone_no">Phone no:</label>
              {{ form.phone_no }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.phone_no.errors }}</div>
                  {% endif %}

              <label for="id_email">Address:</label>
              {{ form.address }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.address.errors }}</div>
                  {% endif %}

              <label for="id_religion">Religion:</label>
              {{ form.religion }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.religion.errors }}</div>
                  {% endif %}

              <label for="id_nationality">Nationality:</label>
              {{ form.nationality }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.nationality.errors }}</div>
                  {% endif %}


          </div>
        </div>


        <div class="card">
          <div class="card-header">Delete Admin</div>
          <div class="card-body">
                  <label id="is_delete" for="id_is_delete">Delete:</label>
              {{ form.is_delete }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.is_delete.errors }}</div>
                  {% endif %}

                </div>
              </div>
            </div>



