{% extends 'base/base.html' %}
{% load static %}
{% block title %} Result Checking Application {% endblock %}
{% block content %}


{% if all_class|length  > 0 %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Edit Class Name</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="a_form" role="form" method="POST" action="{% url 'create-classroom-edit' %}">
            {% csrf_token %}
            <div id="edit-form">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="upload_form" type="submit" class="btn btn-primary" form="a_form">Save</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal end -->


<marquee behavior="" direction="">Add, Edit or Delete Class Name</marquee>


  {% if forms1.errors %}
    {% for field in forms1 %}
        {% for error in field.errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in forms1.non_field_errors %}
        <div>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}







  <div class="card">
    <div class="card-header">Class Registeration</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}

        <label for="id_time">Class Name:</label>
        {{ forms1.name }}
        <button id="create_class" type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Class List</div>
      <div style="overflow-x: auto;"class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr role="row">
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Class Actions</th>
                  </tr>
              </thead>
              <tbody>
                {% for class in all_class %}
                  <tr role="row" class="odd">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ class.name }}</td>


                      <td>

                          <a id="student_re" title="edit class" data-toggle="modal" data-class="{{ class.name }}" data-target="#exampleModalCenter" class="btn btn-info class_name" href="">
                              <i title="edit class" class="fa fa-pencil-square-o" ></i>
                          </a>



                    
                          <a title="delete class" class="btn btn-danger class_name_delete" data-class="{{ class.name }}" href="{% url 'classroom-delete' class.name %}">
                              <i title="delete class" class="fa fa-trash-o"></i>
                              <!-- <i tooltip="delete result" class="fa fa-street-view"></i> -->
                          </a>
                      </td>


                      
                  </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
  </div>








{% else %}

<marquee behavior="" direction="">Register Classes Here</marquee>

  {% if forms1.errors %}
    {% for field in forms1 %}
        {% for error in field.errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in forms1.non_field_errors %}
        <div>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}






  

<div class="card">
    <div class="card-header">Class Registeration</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}

        <label for="id_time">Class Name:</label>
        {{ forms1.name }}
        <button id="create_class" type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

{% endif %}

{% endblock %}








{% block java %}

 <script>

     var name1 = document.querySelector('#id_name');

name1.id = "new";


$(document).ready(function() {
$('#new').blur(function(e){
    e.preventDefault();
    var val = $(this).val();
    var final =removeSpaces(val);
    $(this).val(final);


    function removeSpaces(string) {
     return string.split(' ').join('');
    }
});


});



/*$(document).ready(function() {
$('#id_name').blur(function(e){
    e.preventDefault();
    var val = $(this).val();
    var final =removeSpaces(val);
    $(this).val(final);


    function removeSpaces(string) {
     return string.split(' ').join('');
    }
});


});*/






$(document).ready(function() {
    var class_name1;
    $('.class_name').click(function(e){
        e.preventDefault();
        class_name1 = $(this).attr("data-class");
        console.log(class_name1)
        /*var action = $('#a_form').attr('action', `http://127.0.0.1:8000/teacher/create-classroom-edit/`);*/
        saveans();
    });


        

    function saveans(){
        $.ajax({
            type: 'POST',
            url: "{% url 'create-classroom' %}",
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": class_name1
            },
            dataType: 'json',
            success: function(data){
              console.log(data.form)
              $('#edit-form').html(data.form);
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');



    
});




</script>
{% endblock %}

