{% extends 'base/base.html' %}
{% load static %}




{% block content %}
<style type="text/css">
     label {
        display: flex;
      }

      @media screen and (min-width: 536px) {
      label { 
        width: 10%;
        display: inline-block;
      }
    }

      

  </style>



  {% if forms1.errors %}
    {% for field in forms1 %}
        {% for error in field.errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in forms1.non_field_errors %}
        <div>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}






  


  <div class="card">
    <div class="card-header">Class Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">
        <div class="academic_info">

            <div class="card-body">
              {% csrf_token %}



              {{ forms1.as_p }}

             
            </div>
          <button id="create_class" type="submit" class="btn btn-primary pull-left">Save</button>
        </div>

            <!-- {% if teacher_personal_info|length  > 0 %}
            <div class="card-body">
              {% csrf_token %}



              {{ forms1.as_p }}

             
            </div>

            </div>
          <button id="academic_info_btn" type="button" class="btn btn-primary pull-right">Next</button>
        </div>

            {% else %}
            <div class="card-body">
              <h3>No Assigned Class To Add Student</h3>
          </div>
          </div>
         
        </div>
            {% endif %} -->

        

        

      </form>
      
    </div>
  </div>
{% endblock %}



{% block java %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
  <script>
console.log("whyyyyyyyyyyyyy")

 $(document).ready(function() {
    $('.class_name').click(function(e){
      e.preventDefault();
        var class_name1 = $(this).attr("data-class");
        console.log(class_name1)

        var action = $('#a_form').attr('action', 'http://127.0.0.1:8000/teacher/create-class/');


        $.ajax({
            url: 'http://127.0.0.1:8000/teacher/create-classroom/',
            headers: {'X-CSRFToken': csrftoken},
            type: "POST",
            data: {
                "class_name": class_name1
            }
            success: function (data) {
              $('#edit-form').html(data.form);
            }
        });
        return false;



        function getCookie(name){
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');




    });

});


</script>
{% endblock %}
