{% load static %}
{% load manage_tags %}


<div class="card">
            <div class="card-header">
                <h6>Teachers List</h6>


                <div class="card-header-actions">
                    <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a> -->
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <form id="search_forms" action="" method="POST">
                                    {% csrf_token %}
                                  <label>Search:
                                      <input type="search" id="search_input" name="search_inputs" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                  </label>
                                  <input id="search_button" type="submit" value="search">
                                </form>




                            </div>
                        </div>





                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">

                            </div>
                        </div>
                    </div>
                    {% if teacher|length > 0 %}
                    <div id="table_change">
                     <div  class="row">
                        <div style="overflow-x: auto;" class="col-sm-12">

                            <a id="edit_password_showww" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalScrollable1"></a>

     <a id="edit_showww" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalScrollable"></a>

                    <a id="delete_showww1" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalCenter1"></a>
                    <a id="assign_showww2" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalCenter"></a>


                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Employee code</th>
                                        <th>Username</th>
                                        <th>Class assigned</th>
                                        {% if request.user|has_group:'Admin' or request.user|has_group:'Admin1' %}
                                        <th>Make admin</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for teacher in teacher %}





<!-- data-target="#exampleModalLong" -->

                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td><span style="width: 15%;">{{ teacher.first_name|upper }} {{ teacher.last_name|upper }}</span>

                                          {% if request.user == teacher.user  %}

                                          {% if request.user|has_group:'Admin2' %}
                                              {% endif %}

                                              {% else %}
                                            <a title="delete teacher temporarily" class="btn btn-danger teacher_delete" data-username="teacher-delete/{{teacher.user.username}}" href="{% url 'teacher-delete' teacher.user.username %}">
                                                  <i title="delete teacher temporarily" class="fa fa-trash-o"></i>
                                              </a>
                                              {% endif %}


                                              <a id="edit_teacher" title="edit teacher"  data-username="teacher-edit-edit/{{teacher.user.username}}" data-info="{{teacher.user.username}}"   class="btn btn-info username">
                                                  <i title="edit teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>


                    <!-- {% if request.user.is_authenticated %}
                    {% if request.user|has_group:'Admin' %}

                  <a id="edit_password" onclick="pass_word(this.getAttribute('data-username'), this.getAttribute('data-info'))" title="edit password" data-toggle="modal" data-username="password_change1/{{teacher.user.username}}" data-info="{{teacher.user.username}}" data-target="#exampleModalScrollable1"  class="btn btn-outline-primary username" href="">
                      <i title="edit password" class="fa fa-lock" ></i>
                  </a>

                  {% endif %}
                    {% endif %} -->


                    {% if request.user.is_authenticated %}
                    {% if request.user|has_group:'Admin' %}

                  <a id="edit_password"  title="edit password" data-username="password_change1/{{teacher.user.username}}" data-info="{{teacher.user.username}}"  class="btn btn-outline-primary username1" href="">
                      <i title="edit password" class="fa fa-lock" ></i>
                  </a>

                  {% endif %}
                    {% endif %}


                                            </td>
                                          <td>{{ teacher.employee_code }}</td>
                                          <td>{{ teacher.user.username }}</td>


                                          <td>
                                            {% if teacher.user.classes_assigned_teacher.all %}
                                          {% for i in teacher.user.classes_assigned_teacher.all %}

                                          <span style="width:20%;">{{ i.name|upper }}.</span>

                                          {% endfor %}

                                          <a id="assign_delete" title="delete assignment" data-username="teacher-assign-delete/{{teacher.user.username}}" data-info="{{teacher.user.username}}" class="btn btn-danger username" href="">
                                                  <i title="delete assignment" class="fa fa-trash-o"></i>
                                              </a>

                                              <a id="student_re" title="assign teacher" data-username="teacher-assign-assign/{{teacher.user.username}}" data-info="{{teacher.user.username}}" class="btn btn-info username">
                                                  <i title="assign teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>


                                              <!-- <a title="delete assignment" class="btn btn-danger username" data-username="teacher-assign-delete/{{teacher.username}}" href="">
                                                  <i title="delete assignment" class="fa fa-trash-o"></i>
                                              </a> -->
                                          {% else %}
                                          <a id="student_re" title="assign teacher" data-username="teacher-assign-assign/{{teacher.user.username}}" data-info="{{teacher.user.username}}" class="btn btn-info username" href="">
                                                  <i title="assign teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>
                                          {% endif %}
                                        </td>


                                        {% if request.user|has_group:'Admin' or request.user|has_group:'Admin1' or request.user|has_group:'Admin2' %}


                                        <td>

                                            Admin<i style="color:#66d166; font-size: 30px;" class="fa fa-check-square-o" aria-hidden="true"></i>


                                          <a id="delete admin" title="remove admin" class="btn btn-danger" href="{% url 'remove-admin' teacher.user.username %}">
                                                  <i title="remove admin" class="fa fa-trash-o"></i>
                                              </a>

                                        </td>


                                          {% else %}
                                          <td>
                                          None<i style="color:black; font-size: 30px;" class="fa fa-times" aria-hidden="true"></i>
                                          <a id="student_re" title="make admin" href="{% url 'make-admin' teacher.user.username %}" class="btn btn-outline-info">
                                                  <i title="make admin" class="fa fa-user-plus" ></i>
                                              </a>
                                        </td>

                                        {% endif %}



                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{teacher.start_index}}-{{teacher.end_index}} of {{teacher.paginator.count}} entries</div>
                        </div>
                        <button id="back" class="btn btn-primary pull-left"><a id="back" href="{% url 'teacher-list' %}" class="btn btn-primary pull-left">back to teacher's list</a></button>
{% else %}


<div class="card">
  <!-- <div class="card-header">
    <i class="fa fa-edit"></i> Student Tables

  </div> -->
  <div class="card-body">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="row">
        <h2>No Teacher found</h2>
        </div>
    </div>
</div>

<style type="text/css">
  #back1 {
    float: left;
  }
</style>

    </div>
<a id="back1" href="{% url 'teacher-list' %}" class="btn btn-primary pull-left">back to teacher's list</a>

{% endif %}




                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">


                        {% if teacher.has_other_pages %}
                          <ul class="pagination">
                            {% if teacher.has_previous %}
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in teacher.paginator.page_range %}
                              {% if teacher.number == i %}
                                <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if teacher.has_next %}
                              <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



















<script>

$(document).ready(function(){


    var username;
    var info;
    var r_url;
    $('.username').click(function(e){
        e.preventDefault();
        username = $(this).attr("data-username");
        info = $(this).attr("data-info");
        console.log(username)

        if (username === `teacher-assign-delete/${info}`){
                var action = $('#a_form2').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
                r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`;
              } else if (username === `teacher-edit-edit/${info}`){
                var action = $('#a_form3').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);

                r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`
              } else if (username === `teacher-assign-assign/${info}`) {
                var action = $('#a_form1').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/teacher-assign-assign/${info}/`);
                r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/teacher-assign/${info}/`
                console.log(action)
                console.log(action)
                console.log("action")
              }
        //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        saveans();
    });




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": username
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
              if (username === `teacher-assign-delete/${info}`){
                $('#del-form').html(data.form);
                console.log("action1")
              } else if (username === `teacher-edit-edit/${info}`){
                $('#edit-teacher').html(data.form);
                console.log("action2")
              } else if (username === `teacher-assign-assign/${info}`){
                $('#edit-form').html(data.form);
                console.log("action3")
              }
              /*console.log(data.form)
              $('#edit-form').html(data.form);*/
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
                 if (username === `teacher-assign-delete/${info}`){
                $("#delete_showww1").click();
              } else if (username === `teacher-edit-edit/${info}`){
                $("#edit_showww").click();
              } else if (username === `teacher-assign-assign/${info}`){
               $("#assign_showww2").click();
              }
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


});




$(document).ready(function(){

 $('#search_forms').on('submit', function(e){
      e.preventDefault();
      var search = $("#search_input").val();

      saveans1(search);
  });

  function saveans1(search){
      $.ajax({
          type: 'POST',
          url: "{% url 'teacher-list-search' %}",
          headers: {'X-CSRFToken': csrftoken},
          data : {
                'search': search
            },
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
          success: function(data){
              //console.log(data.form)
              var std_lst = $('#teacher_list');
              std_lst.html(data.form);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
            }
      });
      return false;
  }

  function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


});

</script>



<!--
<script type="text/javascript">

$(document).ready(function(){
  var username;
    var info;
    var r_url;
    $('.username1').click(function(e){
        e.preventDefault();
        username = $(this).attr("data-username");
        info = $(this).attr("data-info");
        console.log(username)

        if (username === `password_change1/${info}`){
                var action = $('#a_form4').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
                r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`;
              }
        //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        saveans();
    });




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": username
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
              if (username === `password_change1/${info}`){
                $('#edit-password').html(data.form);
                console.log("action1")
              }
              /*console.log(data.form)
              $('#edit-form').html(data.form);*/
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);

               $("#edit_password_showww").click();
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
});
</script>
-->



<script type="text/javascript">

$(document).ready(function(){
  var username;
    var info;
    var r_url;
    $('.username1').click(function(e){
        e.preventDefault();
        username = $(this).attr("data-username");
        info = $(this).attr("data-info");
        console.log(username)

        if (username === `password_change1/${info}`){
                var action = $('#a_form4').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
                r_url = `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`;
              }
        //var action = $('#a_form').attr('action', `https://resultcheckerv1.pythonanywhere.com/teacher/${username}/`);
        saveans();
    });




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": username
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
              if (username === `password_change1/${info}`){
                $('#edit-password').html(data.form);
                console.log("action1")
              }
              /*console.log(data.form)
              $('#edit-form').html(data.form);*/
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
                 $("#edit_password_showww").click();
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
});
</script>

