<style type="text/css">
     label {
        width: 100%;
      }



  </style>



<style type="text/css">
     .lab {
        width: 100%;
      }

      #photoss {
        width: 20%;
      }


      #is_delete{
        width: 50px;
      }

      .wrap-input100 {
        color: red;
      }



  </style>



  {% if education_form.errors %}
    {% for field in education_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in education_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if user_creation_form.errors %}
    {% for field in user_creation_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_creation_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

        <div class="card">
          <div class="card-header">Personal Information</div>
          <div class="card-body">
            {% csrf_token %}


              <label for="id_first_name">First name:</label>
              {{ form.first_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.first_name.errors }}</div>
                  {% endif %}

              <label for="id_last_name">Last name:</label>
              {{ form.last_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.last_name.errors }}</div>
                  {% endif %}



              <label for="id_photo">Photo:</label>
              {{ form.photo }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.photo.errors }}</div>
                  {% endif %}

              <label for="id_gender">Gender:</label>
              {{ form.gender }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.gender.errors }}</div>
                  {% endif %}

              <label for="id_gender">Date of birth:</label>
              {{ form.date_of_birth }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.date_of_birth.errors }}</div>
                  {% endif %}

             <label for="id_gender">Marital status:</label>
              {{ form.marital_status }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.marital_status.errors }}</div>
                  {% endif %}

              <label for="id_phone_no">Phone no:</label>
              {{ form.phone_no }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.phone_no.errors }}</div>
                  {% endif %}

              <label for="id_email">Address:</label>
              {{ form.address }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.address.errors }}</div>
                  {% endif %}

              <label for="id_religion">Religion:</label>
              {{ form.religion }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.religion.errors }}</div>
                  {% endif %}

              <label for="id_nationality">Nationality:</label>
              {{ form.nationality }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.nationality.errors }}</div>
                  {% endif %}


          </div>
        </div>


        <div class="card">
          <div class="card-header">Education Information</div>
          <div class="card-body">
            {% csrf_token %}



            <label for="id_nationality">Name of degree:</label>
              {{ education_form.name_of_degree }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.name_of_degree.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Institute:</label>
              {{ education_form.institute }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.institute.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Passing year date:</label>
              {{ education_form.passing_year_date }}<br>

              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.passing_year_date.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Grade:</label>
              {{ education_form.grade }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.grade.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Certificate:</label>
              {{ education_form.certificate }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.certificate.errors }}</div>
                  {% endif %}


              <label for="id_nationality">Upload CV:</label>
              {{ education_form.upload_cv }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.upload_cv.errors }}</div>
                  {% endif %}
          </div>
        </div>


        <div class="card">
          <div class="card-header">Delete Teacher</div>
          <div class="card-body">
                  <label id="is_delete" for="id_is_delete">Delete:</label>
              {{ form.is_delete }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.is_delete.errors }}</div>
                  {% endif %}

                </div>
              </div>
            </div>



<script type="text/javascript">
  var date_of_birth = document.querySelector('#id_date_of_birth');
   var passing_year_date = document.querySelector('#id_passing_year_date');



      date_of_birth.setAttribute('type', 'date');


      passing_year_date.setAttribute('type', 'date');
</script>

