{% load static %}
{% load manage_tags %}
<div class="card">
            <div class="card-header">
                <h6>Teachers List</h6>


                <div class="card-header-actions">
                    <!-- <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a> -->
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <form id="search_forms" action="" method="POST">
                                    {% csrf_token %}
                                  <label>Search:
                                      <input type="search" id="search_input" name="search_inputs" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                  </label>
                                  <input id="search_button" type="submit" value="search">
                                </form>



<script type="text/javascript">





                </script>
                            </div>
                        </div>





                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">

                            </div>
                        </div>
                    </div>
                    <div id="table_change">
                     <div  class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Employee code</th>
                                        <th>Class assigned</th>
                                        {% if request.user|has_group:'Admin' or request.user|has_group:'Admin2' %}
                                        <th>Make admin</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for teacher in teacher %}





<!-- data-target="#exampleModalLong" -->

                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td><span style="width: 15%;">{{ teacher.first_name|upper }} {{ teacher.last_name|upper }}</span>


                                            <a title="delete teacher" class="btn btn-danger teacher_delete" data-username="teacher-delete/{{teacher.user.username}}" href="{% url 'teacher-delete' teacher.user.username %}">
                                                  <i title="delete teacher" class="fa fa-trash-o"></i>
                                              </a>


                                              <a id="edit_teacher" title="edit teacher" data-toggle="modal" data-username="teacher-edit-edit/{{teacher.user.username}}" data-info="{{teacher.user.username}}" data-target="#exampleModalScrollable"  class="btn btn-info username" href="">
                                                  <i title="edit teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>


                                            </td>
                                          <td>{{ teacher.employee_code }}</td>


                                          <td>
                                            {% if teacher.user.classes_assigned_teacher.all %}
                                          {% for i in teacher.user.classes_assigned_teacher.all %}

                                          <span style="width:20%;">{{ i.name|upper }}.</span>

                                          {% endfor %}

                                          <a id="assign_delete" title="delete assignment" data-toggle="modal" data-username="teacher-assign-delete/{{teacher.user.username}}" data-info="{{teacher.user.username}}" data-target="#exampleModalCenter1" class="btn btn-danger username" href="">
                                                  <i title="delete assignment" class="fa fa-trash-o"></i>
                                              </a>

                                              <a id="student_re" title="assign teacher" data-toggle="modal" data-username="teacher-assign-assign/{{teacher.user.username}}" data-info="{{teacher.user.username}}" data-target="#exampleModalCenter" class="btn btn-info username" href="">
                                                  <i title="assign teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>


                                              <!-- <a title="delete assignment" class="btn btn-danger username" data-username="teacher-assign-delete/{{teacher.username}}" href="">
                                                  <i title="delete assignment" class="fa fa-trash-o"></i>
                                              </a> -->
                                          {% else %}
                                          None
                                          <a id="student_re" title="assign teacher" data-toggle="modal" data-username="teacher-assign-assign/{{teacher.user.username}}" data-info="{{teacher.user.username}}" data-target="#exampleModalCenter" class="btn btn-info username" href="">
                                                  <i title="assign teacher" class="fa fa-pencil-square-o" ></i>
                                              </a>
                                          {% endif %}
                                        </td>



                                        {% if request.user|has_group:'Admin' or request.user|has_group:'Admin1' or request.user|has_group:'Admin2' %}


                                        <td>

                                            Admin<i style="color:#66d166; font-size: 30px;" class="fa fa-check-square-o" aria-hidden="true"></i>


                                          <a id="delete admin" title="remove admin" class="btn btn-danger" href="{% url 'remove-admin' teacher.user.username %}">
                                                  <i title="remove admin" class="fa fa-trash-o"></i>
                                              </a>

                                        </td>


                                          {% else %}
                                          <td>
                                          None<i style="color:black; font-size: 30px;" class="fa fa-times" aria-hidden="true"></i>
                                          <a id="student_re" title="make admin" href="{% url 'make-admin' teacher.user.username %}" class="btn btn-outline-info">
                                                  <i title="make admin" class="fa fa-user-plus" ></i>
                                              </a>
                                        </td>

                                        {% endif %}
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{teacher.start_index}}-{{teacher.end_index}} of {{teacher.paginator.count}} entries</div>
                        </div>



                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">


                        {% if teacher.has_other_pages %}
                          <ul class="pagination">
                            {% if teacher.has_previous %}
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="?page={{ student.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&laquo;Previous</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in teacher.paginator.page_range %}
                              {% if teacher.number == i %}
                                <li class="paginate_button page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li class="paginate_button page-item active"><a href="?page={{ i }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if teacher.has_next %}
                              <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="?page={{ student.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">&raquo;NEXT</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>