{% extends 'base/base.html' %}
{% load static %}

{% block content %}






<style type="text/css">
     label {
        width: 50%;
        display: flex;
      }


      .wrap-input100 {
        color: red;
      }







       @media screen and (min-width: 536px) {
      .label {
        display: inline-block;
      }



    }




  </style>





  {% if education_form.errors %}
    {% for field in education_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in education_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if user_creation_form.errors %}
    {% for field in user_creation_form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in user_creation_form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div>
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}




  <div class="card">
    <div class="card-header">Teacher Registration Form</div>
    <div class="card-body">

        <br>
        <h3>Excel Format</h3>
        <a href="{% url 'export_teachers_registration_xls' %}"><button type="submit" class="btn btn-primary">Download Teahers Excel Format</button></a>
        <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Username<span style="color:red">*</span></th>
                                        <th>First Name<span style="color:red">*</span></th>
                                        <th>Last Name<span style="color:red">*</span></th>
                                        <th>Email<span style="color:red">*</span></th>
                                        <th>Password<span style="color:red">*</span></th>
                                        <th>Date Employed</th>
                                        <th>D.O.B</th>
                                        <th>Gender</th>
                                        <th>Marital Status</th>
                                        <th>Phone No.</th>
                                        <th>Address</th>
                                        <th>Religion</th>
                                        <th>Nationality</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>


                                </tbody>
                            </table>
                            <br>
                            <div id="error-box" class="visible2" style="color:red;">Error, Try Another Excel File</div>
        <form action="{% url 'excell_teacher_registration' %}" method="post" enctype="multipart/form-data" id="teacher_excell_registration_form" data-upazilla-url="{% url 'load-upazilla' %}">

        {% csrf_token %}


        <label for="id_username">Upload Excel Sheet</label>
          {{ excell_upload_form.excell_sheet }}<br>
          {% if excell_upload_form.errors %}
              <div class="wrap-input100 validate-input m-b-16">{{ excell_upload_form.excell_sheet.errors }}</div>
              {% endif %}
  </form>

  <br>
  <div id="alert-box"></div>

  <div id="progress-box" class="not-visible">Progress</div>
  <br>
  <div id="cancel-box" class="not-visible">
      <button id="cancel-btn" class="btn btn-danger">Cancel</button>
  </div>
  <h5 id="success-box" class="visible1">Teachers Successfully Added<i style="color:#66d166; font-size: 30px;" class="fa fa-check-square-o" aria-hidden="true"></i></h5>


  <br>
  <br>
  <br>
  <br>
  <hr>
  <h3>Manual Teacher Registration</h3>
      <form action="" method="post" enctype="multipart/form-data" id="TeacherRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">

        <div class="card">
          <div class="card-header">Personal Information</div>
          <div class="card-body">
            {% csrf_token %}

            <label for="id_username">Username:</label>
              {{ user_creation_form.username }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.username.errors }}</div>
                  {% endif %}

              <label for="id_first_name">First name:</label>
              {{ form.first_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.first_name.errors }}</div>
                  {% endif %}

              <label for="id_last_name">Last name:</label>
              {{ form.last_name }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.last_name.errors }}</div>
                  {% endif %}

              <label for="id_email">Email:</label>
              {{ form.email }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.email.errors }}</div>
                  {% endif %}


              <label for="id_password1">Password:</label>
              {{ user_creation_form.password1 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password1.errors }}</div>
                  {% endif %}

              <label for="id_password2">Password confirmation:</label>
              {{ user_creation_form.password2 }}<br>
              {% if user_creation_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ user_creation_form.password2.errors }}</div>
                  {% endif %}

              <label for="id_gender">Date employed:</label>
              {{ form.date_employed }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.date_employed.errors }}</div>
                  {% endif %}

              <label for="id_photo">Photo:</label>
              {{ form.photo }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.photo.errors }}</div>
                  {% endif %}

              <label for="id_gender">Gender:</label>
              {{ form.gender }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.gender.errors }}</div>
                  {% endif %}

              <label for="id_gender">Date of birth:</label>
              {{ form.date_of_birth }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.date_of_birth.errors }}</div>
                  {% endif %}

             <label for="id_gender">Marital status:</label>
              {{ form.marital_status }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.marital_status.errors }}</div>
                  {% endif %}

              <label for="id_phone_no">Phone no:</label>
              {{ form.phone_no }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.phone_no.errors }}</div>
                  {% endif %}

              <label for="id_email">Address:</label>
              {{ form.address }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.address.errors }}</div>
                  {% endif %}

              <label for="id_religion">Religion:</label>
              {{ form.religion }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.religion.errors }}</div>
                  {% endif %}

              <label for="id_nationality">Nationality:</label>
              {{ form.nationality }}<br>
              {% if form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ form.nationality.errors }}</div>
                  {% endif %}




          </div>
        </div>

        <div class="card">
          <div class="card-header">Education Information</div>
          <div class="card-body">
            {% csrf_token %}



            <label for="id_nationality">Last Qualification:</label>
              {{ education_form.name_of_degree }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.name_of_degree.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Institute:</label>
              {{ education_form.institute }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.institute.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Passing year date:</label>
              {{ education_form.passing_year_date }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.passing_year_date.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Grade:</label>
              {{ education_form.grade }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.grade.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Certificate:</label>
              {{ education_form.certificate }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.certificate.errors }}</div>
                  {% endif %}


                  <label for="id_nationality">Upload CV:</label>
              {{ education_form.upload_cv }}<br>
              {% if education_form.errors %}
                  <div class="wrap-input100 validate-input m-b-16">{{ education_form.upload_cv.errors }}</div>
                  {% endif %}
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>
  </div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>

      $( document ).ready(function() {




      console.log("passing_year_date");
        /*var class_info = document.querySelector('#id_class_info');*/
      var username = document.querySelector('#id_username');
      var password1 = document.querySelector('#id_password1');
      var password2 = document.querySelector('#id_password2');
      var first_name = document.querySelector('#id_first_name');
      var last_name = document.querySelector('#id_last_name');
      var email = document.querySelector('#id_email');
      var date_employed = document.querySelector('#id_date_employed');
      var date_of_birth = document.querySelector('#id_date_of_birth');
      var passing_year_date = document.querySelector('#id_passing_year_date');
      console.log(passing_year_date);


      const teacher_excell = document.querySelector('#teacher_excell_registration_form');
      const excell_sheet = document.querySelector('#id_excell_sheet');
      const alert_box = document.querySelector('#alert-box');
      const progress_box = document.querySelector('#progress-box');
      const cancel_box = document.querySelector('#cancel-box');
      const cancel_btn = document.querySelector('#cancel-btn');
      const success_box = document.querySelector('#success-box');
      const error_box = document.querySelector('#error-box');


      teacher_excell.reset()


      const csrf = document.getElementsByName('csrfmiddlewaretoken');


      excell_sheet.addEventListener('change', ()=>{
          progress_box.classList.remove('not-visible');
          cancel_box.classList.remove('not-visible');
          success_box.classList.add('visible1');
          error_box.classList.add('visible2');

          var excel_data = excell_sheet.files[0];
          console.log("excel_data");
          console.log(excel_data);

          var fd  = new FormData();
          fd.append('csrfmiddlewaretoken', csrf[2].value);
          fd.append('xlsx', excel_data);
          /*formData.append("csrfmiddlewaretoken", csrf[2].value);
          formData.append("xlsx", excel_data);*/
          for (var pair of fd.entries()){
              console.log(pair[0]+ ', '+ pair[1]);
            }


          $.ajax({
              type:'POST',
              url: teacher_excell.action,
              enctype: 'multipart/form-data',
              data: fd,
              beforeSend: function(){

              },
              xhr: function(){
                  const xhr = new window.XMLHttpRequest();
                  xhr.upload.addEventListener('progress', e=>{
                      //console.log(e)
                      if (e.lengthComputable){
                          const percent = e.loaded / e.total * 100
                          console.log(percent)
                           progress_box.innerHTML = `<div class="progress">
                                                      <div class="progress-bar" role="progressbar" style="width: ${percent}%;" aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100">${percent}%</div>
                                                    </div>`
                      }
                  })

                  cancel_btn.addEventListener('click', ()=>{
                      xhr.abort()
                      setTimeout(()=>{
                            teacher_excell.reset()
                            progress_box.innerHTML = ''
                            cancel_box.classList.add('not-visible');
                      }, 2000)

                  })

                  return xhr

              },
              success: function(response){
                  console.log("success")
                  cancel_box.classList.add('not-visible');
                  success_box.classList.remove('visible1');
              },
              error: function(error){
                  console.log(error.responseText)
                  error_box.classList.remove('visible2');
              },
              cache: false,
              contentType: false,
              processData: false,
          })
      })







      username.setAttribute('class', 'form-control');

      password1.setAttribute('class', 'form-control');
      password2.setAttribute('class', 'form-control');

      date_employed.setAttribute('class', 'form-control');
      date_employed.setAttribute('type', 'date');

      date_of_birth.setAttribute('type', 'date');

      passing_year_date.setAttribute('type', 'date');

      first_name.setAttribute('class', 'form-control');
      last_name.setAttribute('class', 'form-control');

      email.setAttribute('class', 'form-control');
      email.setAttribute('type', 'email');


      first_name.required = true;
      last_name.required = true;

      date_employed.required = true;




      var error = document.querySelectorAll('li');
      for (var index = 0; index < error.length; ++index){

            error[index].style.color = "red";

        }



        $("#id_district").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-upazilla-url");
          var districtId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'district': districtId
            },
            success: function (data) {
              $("#id_upazilla").html(data);
            }
          });

        });
        $("#id_upazilla").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-upazilla-url");
          var upazillaId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'upazilla': upazillaId
            },
            success: function (data) {
              $("#id_union").html(data);
            }
          });

        });




      });
      </script>
  </div>
{% endblock %}
