{% extends 'base/base.html' %}
{% block content %}
<style type="text/css">

  #id_term {
        width: 90%;
      }

      #id_pin{
        width: 90%;
      }


      #label_term {
        width : 90%;
      }


      #label_pin {
        width : 90%;
      }





  @media screen and (min-width: 750px) {
      #id_term {
        width: 50%;
      }

      #label_term {
        width : 100%;
      }

      #label_pin {
        width : 100%;
      }

      #id_pin{
        width: 50%;
      }
    }


</style>
<div id="result_entry" class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Select term to view result
    </div>


      <div class="card-body">
          {% if form.pin %}
        <form id="forms" method="post" action="{% url 'result:result-preview' %}">
            {% else %}
            <form id="forms" method="post" action="{% url 'result:student-mid-term-result' reg_no=request.user.user_student.all.0.student_persona.all.0.registration_no %}">
        {% endif %}

          <!-- <form id="forms" method="post" action=""> -->
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          {% csrf_token %}

          <h5><label id="label_term" style="margin: 2px;" for="id_term" class="perfect">Select Term:</label>
          {{ form.term }}</h5><br>
          {% if form.pin %}
          <h5><label id="label_pin" style="margin: 2px;" for="id_pin" class="perfect">Card Pin:</label>
          {{ form.pin }}</h5><br>
          {% endif %}
          <input type="hidden" name="year" id="year" value="{{ result.year }}">
          <input type="hidden" name="level" id="level" value="{{ result.level }}">
          <button class="btn btn-primary px-4" id="show_table">Submit</button>

        </div>
      </form>
      </div>
  </div>
  <strong>NOTE: </strong>
  <div style="color: red;">
    <p style="margin-bottom: 0rem;">Access PIN can only be used for one term only.</p>
    <p >PIN can be used for a maximum of 5 times.</p>
  </div>

{% endblock %}









{% block java %}
  <script>
      var term = document.querySelector('#id_term');
      var pin = document.querySelector('#id_pin');


      term.setAttribute('name', 'term');
      pin.setAttribute('name', 'pin');

      term.required = true;
      pin.required = true;







</script>
    {% endblock %}