{% extends 'base/base.html' %}
{% block content %}

<div id="result_entry" >




{% if result.coverpage %}

    <img style="width:100%;"  src="{{ result.coverpage.url }}" alt="result">

{% else %}

    <object data="{{ result.pdf.url }}#toolbar=0&navpanes=0&scrollbar=0&view=fitH" style="width:100%; height:1580px; line-height: 0px;" type="application/pdf">
      <span>Your web browser doesn't have a PDF plugin.
      Instead you can <a href="{% url 'result:download' level=result.clas term=result.term year=result.year %}">click here to
      download the PDF file.</a></span>
    </object>

{% endif %}


  </div>
{% endblock %}
















