{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Session Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}

        <label for="id_time">Session Name:</label>
        {{ forms.time }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Session List</div>
      <div style="overflow-x: auto;"class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Session Name</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for session in session %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ session.time }}</td>
                        <td>            
                          <a title="delete session" class="btn btn-danger class_name_delete" data-class="{{ session.time }}" href="{% url 'session-delete' session.time %}">
                              <i title="delete session" class="fa fa-trash-o"></i>
                              <!-- <i tooltip="delete result" class="fa fa-street-view"></i> -->
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
