{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>MASTERHILLS SCHOOLS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/templatemo-finance-business.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.css' %}" rel="stylesheet">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
<style type="text/css">
  .sub-header {
    background-color: #20a8d8;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.current, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link {
    color: #20a8d8;
    border-bottom: 3px solid #20a8d8;
}

.background-header .navbar-nav .nav-link:hover, .background-header .navbar-nav .active>.nav-link, .background-header .navbar-nav .nav-link.current, .background-header .navbar-nav .nav-link.show, .background-header .navbar-nav .show>.nav-link {
    color: #20a8d8!important;
}

.request-form {
    background-color: #20a8d8;
}

a.filled-button {
    background-color: #20a8d8;
}

.fun-facts em {
    color: #20a8d8;
}

.count-digit {
    color: #20a8d8;
}

.more-info .right-content em {
    color: #20a8d8;
}

.section-heading em {
    color: #20a8d8;
}

.testimonial-item span {
    color: #20a8d8;
}

.callback-form .contact-form {
    background-color: #20a8d8;
}

footer .contact-form button.filled-button {
    background-color: #20a8d8;
}

.Modern-Slider .item h6 {
    color: #20a8d8;
}

a.border-button:hover {
    color: #20a8d8;
}

a.filled-button:hover {
    color: #20a8d8;
}

.callback-form .contact-form button.border-button:hover {
    color: #20a8d8;
}

footer .contact-form button.filled-button:hover {
    color: #20a8d8;
}

#preloader {
    background: #20a8d8;
}


.navbar .navbar-toggler-icon:after {
    color: #20a8d8;
}

.background-header .navbar-brand h2 {
    color: #20a8d8!important;
}


@media (max-width: 992px){
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.current, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link {
    color: #20a8d8!important;
}


</style>



<style>

  body {
  font-family: 'Varela Round', sans-serif;
}
.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #20a8d8;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #20a8d8 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #45aba6 !important;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

</style>

  </head>

  <body>


<!-- Modal HTML -->
<div style="z-index: 2222222;" id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
          <img src="{% static 'dist/img/avatar1.png' %}" alt="Avatar">
        </div>
        <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'administration:login' %}" method="post">

           {% csrf_token %}

                {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Reg No./Username" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>










    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>MASTERHILLS SCHOOLS</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+234 802 291 4275</a></li>
            </ul>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div>
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img style="width:100px;" src="{% static 'src/img/masterhills333.jpg' %}" title="MASTER HILLS SCHOOLS" alt="MASTER HILLS"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#myModal" class="trigger-btn" data-toggle="modal">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>MASTER HILLS SCHOOLS</h6>
                  <!--<img src="{% static 'src/img/masterhills333.jpg' %}">-->
                  <h4>Print, Download Or View Result</h4>
                  <p>Click on <a href="#myModal" class="trigger-btn" data-toggle="modal">login</a> to access your result</p>
                  <a href="#myModal" data-toggle="modal" class="filled-button">Login</a>
                </div>
            </div>
          </div>
          <!-- // Item -->

        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Tel. +234 802 291 4275</h4>

            <span>Email. admin@masterhillsschools.com</span>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>




    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; MASTERHILLS SCHOOLS.

            - Design Developed By: <a rel="nofollow noopener" href="#">Brainz Media: 08165549057</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>