{% extends 'base/base.html' %}
{% load static %}
{% load manage_tags %}
{% block title %} Result Checking Application {% endblock %}
{% block content %}

<style>
            .column{
                float: left;
                padding:10px;
                height: 150px
            }

            .left, .right {
                width: 20%;
            }

            .middle {
                width: 60%;
                color: white;
                /*display:table;
                margin:0 auto;
                font-size:200%;
                font-weight: 800;*/
        }




            .roww {
                background-image: url({% static 'src/img/banner.png' %});
                background-blend-mode: hard-light;
                background-size: cover;
                height: 300px;

            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .middle1 {
                display:table;
                margin:0 auto;
                text-align: center;
                font-size:200%;
                font-weight: 800;
                color: white;
            }

            .middle2 {
                display:table;
                margin:0 auto;
                text-align: center;
                font-size:150%;
                font-weight: 600;
                color: #fdff00;
            }



            .left1, .right1  {
                    display:table;
                    margin:0 auto;
                    width:100%;

                }


            @media screen and (max-width: 700px){
                .left1, .right1  {
                    display:table;
                    margin:0 auto;
                    width:90%;

                }

            }


             @media screen and (max-width: 600px){

                 .middle1 {
                    font-size:150%;
                    font-weight: 800;
                }


                .colums {
                    width:100%;
                }

                .left1, .right1  {
                    display:table;
                    margin:0 auto;
                    width:100%;

                }

            }



            @media screen and (max-width: 500px){
                .middle1 {
                    font-size:150%;
                    font-weight: 800;
                }

                .middle2 {
                    font-size:100%;
                    font-weight: 500;
                }

                .left1, .right1  {
                    display:table;
                    margin:0 auto;

                }
            }


            @media screen and (max-width: 400px){

                .left, .right {
                    display: none;
                }

                .middle {
                    width: 100%;
                }

                .left1, .right1  {
                    display:none;

                }
            }
          </style>
{% if request.user.is_authenticated %}
          {% if request.user|has_group:'Students' %}
          <marquee behavior="" direction="">You can now view, download or print your result</marquee>
          <!-- <div style="background-image: url({% static 'src/img/white.jpg' %});     background-blend-mode: hard-light; background-size: cover; width:100%; height:150px ;background-color: #007bff;">
            <div>

<span style="float:left; margin-top: 2.5%;
    margin-left: 3%;"><img src="{% static 'src/img/masterhills333.jpg' %}" style="width:5rem; " class="navbar-brand" alt="admin"></span>

    <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span>
    </div>

          </div> -->






<div class="animated fadeIn">


    <div class="row roww" style="height: 300px;">
            <div class="column left" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}"  class="navbar-brand left1" alt="admin">
            </div>

            <div class="column middle" style="">
                <!-- <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span> -->

                <span class="middle1">MASTER HILLS SCHOOLS</span>

                <p class="middle2">RESULT CHECKER</p>
            </div>

            <div class="column right" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}" class="navbar-brand right1" alt="admin">
            </div>

          </div><br>



    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="card text-white bg-primary" style="height: 332.3px;">

                <div class="card-body pb-0">

                    <div style="color: white; font-size: 1.3rem; font-weight: bold;">STUDENTS IN CLASS: <span style="font-weight: 500;">{% student_in_class request.user %}</span>
                    </div><hr>
                    <div style="color: white; font-size: 1.3rem; font-weight: bold;">CLASS: <span style="font-weight: 500;">{{ request.user.user_student.all.0.class_of_student|upper }}</span>
                    </div>
                    <hr>

                      <div style="color: white; font-size: 1.3rem; font-weight: bold;">CURRENT TERM: <span style="font-weight: 500;">{% current_term  %}</span>
                      </div><hr>

                      <div style="color: white; font-size: 1.3rem; font-weight: bold;">CURRENT SESSION: <span style="font-weight: 500;">{% current_session  %}</span>
                      </div>


                </div>

                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart1-tooltip" class="chartjs-tooltip top" style="opacity: 0; left: 278.558px; top: 123.889px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">June</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(0, 165, 224);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">55</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="col-sm-6 col-lg-6">
    <div class="card text-white bg-warning" style="height: 332.3px; background-color: #94caff!important; border-color: #94caff;">

        <!-- <div class="card-body pb-0">
            <div class="text-value"><a href="{% url 'student-list' %}" class="btn btn-primary">{{ student }}</a></div>
            <div>Total Student</div>
        </div> -->

        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
        </div>
    </div>
</div>



    </div>
</div>


          {% elif request.user|has_group:'Teachers' %}


 <marquee behavior="" direction="">You can now view, register students and upload their results.</marquee>



          <div class="animated fadeIn">

            <div class="row roww">
            <div class="column left" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}"   class="navbar-brand left1" alt="admin">
            </div>

            <div class="column middle" style="">
                <!-- <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span> -->

                <span class="middle1">MASTER HILLS SCHOOLS</span>

                <p class="middle2">RESULT CHECKER</p>
            </div>

            <div class="column right" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}" class="navbar-brand right1" alt="admin">
            </div>

          </div><br>


    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="card text-white bg-primary">

                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'student-list' %}">Student List</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->

                    <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                      <thead>
                        <tr role="row">
                            <th style="color: white;">ID</th>
                          <th style="color: white;">Class Assigned</th>
                          <th style="color: white;">No. Of Students</th>
                          <th style="color: white;">Current Term</th>
                          <th style="color: white;">Current Session</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for key, value in total_student_class.items %}

                            <tr role="row" class="odd">
                                <td style="color: white;">{{ forloop.counter }}</td>
                          <td style="color: white;">{{ key|upper }}</td>
                          <td style="color: white;">{{ value|upper }}</td>
                          <td style="color: white;">{% current_term  %}</td>
                          <td style="color: white;">{% current_session  %}</td>
                        </tr>
                            {% endfor %}
                      </tbody>
                    </table>



                    <!-- {% for key, value in total_student_class.items %}

                    <div style="color: white; font-size: 1.3rem; font-weight: bold;">{{ key|upper }}: <span style="font-weight: 500;">{{ value|upper }}</span></div><hr>

                    {% endfor %} -->


          <!-- <div style="color: white; font-size: 1.3rem; font-weight: bold;">CURRENT TERM: <span style="font-weight: 500;">{% current_term  %}</span></div><hr>

          <div style="color: white; font-size: 1.3rem; font-weight: bold;">CURRENT SESSION: <span style="font-weight: 500;">{% current_session  %}</span></div>
 -->

                </div>

                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart1-tooltip" class="chartjs-tooltip top" style="opacity: 0; left: 278.558px; top: 123.889px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">June</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(0, 165, 224);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">55</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





{% elif request.user|has_group:'Admin' %}



<marquee behavior="" direction="">You can now view, register students and upload their results.</marquee>
<div class="animated fadeIn">

    <div class="row roww">
            <div class="column left" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}"   class="navbar-brand left1" alt="admin">
            </div>

            <div class="column middle" style="">
                <!-- <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span> -->

                <span class="middle1">MASTER HILLS SCHOOLS</span>

                <p class="middle2">RESULT CHECKER</p>
            </div>

            <div class="column right" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}" class="navbar-brand right1" alt="admin">
            </div>

          </div><br>


    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">

                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'student-list' %}">Student List</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'student-list' %}" class="btn btn-primary">{{ student }}</a></div>
                    <div>Total Student</div>
                </div>

                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart1-tooltip" class="chartjs-tooltip top" style="opacity: 0; left: 278.558px; top: 123.889px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">June</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(0, 165, 224);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">55</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'teacher-list' %}" class="btn btn-transparent">{{ teacher }}</a></div>
                    <div>Total Teacher</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <!--<div class="btn-group float-right">
                         <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button> <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>-->
                    <div class="text-value"><a href="{% url 'create-classroom' %}" class="btn btn-transparent">{{ total_class }}</a></div>
                    <div>Total Class</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




{% elif request.user|has_group:'Admin1' %}



<marquee behavior="" direction="">You can now view, register students and upload their results.</marquee>
<div class="animated fadeIn">

    <div class="row roww">
            <div class="column left" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}"   class="navbar-brand left1" alt="admin">
            </div>

            <div class="column middle" style="">
                <!-- <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span> -->

                <span class="middle1">MASTER HILLS SCHOOLS</span>

                <p class="middle2">RESULT CHECKER</p>
            </div>

            <div class="column right" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}" class="navbar-brand right1" alt="admin">
            </div>

          </div><br>


    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">

                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'student-list' %}">Student List</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'student-list' %}" class="btn btn-primary">{{ student }}</a></div>
                    <div>Total Student</div>
                </div>

                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart1-tooltip" class="chartjs-tooltip top" style="opacity: 0; left: 278.558px; top: 123.889px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">June</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(0, 165, 224);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">55</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'teacher-list' %}" class="btn btn-transparent">{{ teacher }}</a></div>
                    <div>Total Teacher</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <!--<div class="btn-group float-right">
                         <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button> <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>-->
                    <div class="text-value"><a href="{% url 'create-classroom' %}" class="btn btn-transparent">{{ total_class }}</a></div>
                    <div>Total Class</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






{% elif request.user|has_group:'Admin2' %}



<marquee behavior="" direction="">You can now view, register students and upload their results.</marquee>
<div class="animated fadeIn">

    <div class="row roww">
            <div class="column left" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}"   class="navbar-brand left1" alt="admin">
            </div>

            <div class="column middle" style="">
                <!-- <span style="display:table; margin:0 auto; font-size:200%; font-weight: 800;">MASTER HILLS SCHOOLS</span> -->

                <span class="middle1">MASTER HILLS SCHOOLS</span>

                <p class="middle2">RESULT CHECKER</p>
            </div>

            <div class="column right" style="">
                <img src="{% static 'src/img/masterhills333.jpg' %}" class="navbar-brand right1" alt="admin">
            </div>

          </div><br>


    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">

                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'student-list' %}">Student List</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'student-list' %}" class="btn btn-primary">{{ student }}</a></div>
                    <div>Total Student</div>
                </div>

                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart1" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart1-tooltip" class="chartjs-tooltip top" style="opacity: 0; left: 278.558px; top: 123.889px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">June</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgb(0, 165, 224);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">55</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <!-- <div class="btn-group float-right">
                        <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                    <div class="text-value"><a href="{% url 'teacher-list' %}" class="btn btn-transparent">{{ teacher }}</a></div>
                    <div>Total Teacher</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <!--<div class="btn-group float-right">
                         <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button> <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>-->
                    <div class="text-value"><a href="{% url 'create-classroom' %}" class="btn btn-transparent">{{ total_class }}</a></div>
                    <div>Total Class</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas class="chart chartjs-render-monitor" id="card-chart4" height="70" width="319" style="display: block; width: 319px; height: 70px;"></canvas>
                    <div id="card-chart4-tooltip" class="chartjs-tooltip top bottom" style="opacity: 0; left: 265px; top: 134.2px;">
                        <div class="tooltip-header">
                            <div class="tooltip-header-item">January</div>
                        </div>
                        <div class="tooltip-body">
                            <div class="tooltip-body-item"><span class="tooltip-body-item-color" style="background-color: rgba(230, 230, 230, 0.2);"></span><span class="tooltip-body-item-label">My First dataset</span><span class="tooltip-body-item-value">34</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






{% else %}




          {% endif %}
          {% endif %}

{% endblock %}