{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    {% block title %}
    {% endblock %}

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'static/css/dashboard.css' %}" rel="stylesheet">
    <style type="text/css">
      .sidebar .nav-link {
          font-weight: 500;
          color: #fff;
      }

      .bg-light {
          background-color: #323639!important;
      }
      /*body{
        line-height: 0;
      }
*/
      .iconify { 
        color: white; 
      }

      #profile {
        color: white;
        position: relative;
        left: 36%;
        top: -5%;
      }

      .form-control {
        width: 35%;
      }

    </style>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>
  <body>


        {% block jumbotron %}
        {% endblock %}

        {% block con %}

        {% endblock %}


        {% block container %}

        {% endblock %}


        {% block post %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block main %}

        {% endblock %}





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'static/javascript/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'static/javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- <script src="{% static 'vendor/select2/select2.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'javascript/jquery-formset.js' %}"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="{% static 'static/javascript/dashboard.js' %}"></script>


    {% block java %}
    {% endblock %}


    {% if messages %}
    {% for message in messages %}
    {% if 'success' in message.extra_tags %}
      <script>
        Swal.fire({
          "title": "Thanks!",
          "text": "{{ message }}",
          "icon": "success"
        })
      </script>
      {% elif 'warning' in message.extra_tags %}
      <script>
          Swal.fire({
              "title": "Warning!",
              "text": "{{ message }}",
              "icon": "warning"
          })
      </script>
      {% elif 'error' in message.extra_tags %}
      <script>
          Swal.fire({
              "title": "Error!",
              "text": "{{ message }}",
              "icon": "error"
          })
      </script>
      {% endif %}
    {% endfor %}
    {% endif %}




  </body>
</html>

