{% extends 'administration/base1.html' %}

{% block title %}
<title>Dashboard|Result</title>

{% endblock %}




{% block content %}



<div style="line-height: 0;" class="container-fluid">
  <div class="row">
    <!-- <span class="profile" data-icon="carbon:user-profile" data-inline="false"></span> -->
    <nav style="background-color: #22292e;" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> <span id="profile" class="iconify" data-icon="carbon:user-profile" data-inline="false" data-height="4.5em"></span>

        <ul class="nav flex-column">
          <li style="width: 25%; background-color: black;" class="nav-item">
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <h6>Registration Number:</h6><br><span></span><p>03/1642</p> <!-- <p>{{ result.user.username|capfirst }}</p> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <h6>Name:</h6> <p>FAKOYA , PATRICK <!-- {{ result.user.last_name|upper }} {{ result.user.first_name|upper }} --></h6></p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
             <h6>Current Session:</h6> <p>2019 / 2020 <!-- {{ result.year.time }} --></h6></p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- <span data-feather="bar-chart-2"></span> -->
              <h6>Current Term:</h6> <p>2ND TERM <!-- {{ result.term.term|upper }} --></h6></p>
            </a>
          </li>

          <div>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <hr><br>
              
              <button class="btn btn-sm btn-outline-secondary">
                Print <span class="iconify" data-icon="fluent:print-48-filled" data-inline="false"></span>
              </button><hr>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button class="btn btn-sm btn-outline-secondary">
                Download <span class="iconify" data-icon="el:download-alt" data-inline="false"></span>
              </button><hr>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administration:logout' %}">
              <button class="btn btn-sm btn-outline-secondary">
                Sign out <span class="iconify" data-icon="uil:signout" data-inline="false"></span>
              </button><hr>
            </a>
          </li>
          </div>
          
        </ul>

        
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% if result %}
    <p>
    <iframe src="{{ result.pdf.url }}#toolbar=0&navpanes=0&scrollbar=0&view=fitH" style="width:100%; height:1500px; line-height: 0px;" frameborder="0"> Your browser should support iFrame to view this PDF document</iframe>
  </p>
  {% else %}
  <p>No result to show</p>
  {% endif %}

    </main>
  </div>
</div>


    
    {% endblock %}



