{% extends 'base/base.html' %}







{% block content %}

<h3>Pin Generated</h3>

<div  class="row">
  <div style="overflow-x: auto;" class="col-sm-12">
      <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
          <thead>
              <tr role="row">
                  <th>Id</th>
                  <th>Pin</th>
              </tr>
          </thead>
          <tbody>
              {% for i in paragraphs %}
              <tr role="row" class="odd">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i }}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div> 





{% endblock %}





