{% extends 'base/base.html' %}
{% load static %}
{% block title %} Result Checking Application {% endblock %}
{% block content %}


{% if term|length  > 0 %}
{% if current_term|length  > 0 %}




<marquee behavior="" direction="">Change Current Term</marquee>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-primary">


        <style type="text/css">
          label {
          display: flex;
          }

          @media screen and (min-width: 536px) {
          label {
          width: 10%;
          display: inline-block;
          }
          }
        </style>



        {% if forms.errors %}
        {% for field in forms %}
        {% for error in field.errors %}
        <div>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in forms.non_field_errors %}
        <div>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}









        <div class="card">
          <div class="card-header">Select</div>
            <div class="card-body">
              <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">
                <div class="academic_info">

                  <div class="card-body">
                  {% csrf_token %}


                    <span style='color: black;'>Select:</span>
                    {{ forms.name }}


                  </div>
                  <button id="create_class" type="submit" class="btn btn-primary pull-left">Save</button>
                </div>
              </form>
            </div>
</div>


</div>
</div>

<div class="col-sm-8 col-lg-4">

<table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
<thead>
<tr role="row">
<th>CURRENT TERM</th>
</tr>
</thead>
<tbody>
{% for term in current_term %}








<tr role="row" class="odd">
<td>{{ term.name|upper }}</td>






</tr>
{% endfor %}
</tbody>
</table>






</div>

</div>
</div>

{% else %}

<marquee behavior="" direction="">Choose Current Term</marquee>
<div class="animated fadeIn">
<div class="row">
<div class="col-sm-6 col-lg-6">
<div class="card text-white bg-primary">


<style type="text/css">
label {
display: flex;
}

@media screen and (min-width: 536px) {
label {
width: 10%;
display: inline-block;
}
}



</style>



{% if forms1.errors %}
{% for field in forms1 %}
{% for error in field.errors %}
<div>
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in forms1.non_field_errors %}
<div>
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}









<div class="card">
<div class="card-header">Select Current Term Below</div>
<div class="card-body">
<form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">
<div class="academic_info">

<div class="card-body">
{% csrf_token %}


<span style='color: black;'>Select:</span>
{{ forms.name }}


</div>
<button id="create_class" type="submit" class="btn btn-primary pull-left">Save</button>
</div>
{% endif %}

{% else %}



<marquee behavior="" direction="">Term Not Created</marquee>


{% endif %}








{% endblock %}


{% block java %}

 <script>

     var name1 = document.querySelector('#id_name');



$(document).ready(function() {
$('#id_name').blur(function(e){
    e.preventDefault();
    var val = $(this).val();
    var final =removeSpaces(val);
    $(this).val(final);


    function removeSpaces(string) {
     return string.split(' ').join('');
    }
});


});










$(document).ready(function() {
    var class_name1;
    $('.class_name').click(function(e){
        e.preventDefault();
        class_name1 = $(this).attr("data-class");
        console.log(class_name1)
        /*var action = $('#a_form').attr('action', `http://127.0.0.1:8000/teacher/create-classroom-edit/`);*/
        saveans();
    });




    function saveans(){
        $.ajax({
            type: 'POST',
            url: "{% url 'create-classroom' %}",
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "class_name": class_name1
            },
            dataType: 'json',
            success: function(data){
              console.log(data.form)
              $('#edit-form').html(data.form);
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');




});





</script>
{% endblock %}
