<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.12
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <link href="node_modules/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
    {% include 'base/header.html' %}
    <style type="text/css">
      #id_numbers {
        width: -webkit-fill-available;
      }

      #id_expiry_date {
        width: -webkit-fill-available;
      }
    </style>
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Generate Pin</h1>
                <form class="" action="" method="post">
                  {% csrf_token %}
                    <!-- <div class="input-group mb-3"> -->
                      <div>
                        <!-- <div class="input-group-prepend"> -->
                          <div>
                            <!-- <span class="input-group-text">
                                <i class="icon-user"></i>
                            </span> -->
                        </div>
                        Select Number:
                        {{ forms.numbers }}<br><br>

                        Expiry Date:
                        {{ forms.expiry_date }}<br>
                        <br>
                    </div>
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4">Generate</button>
                       <!-- <input type="submit" value="Generate" class="btn btn-primary px-4" /> -->
                    </div>
                    <!-- <div class="col-6 text-right">
                      <button class="btn btn-link px-0" type="button">Forgot password?</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Go back to hompage</h2>
                      <a style="color:white; background-color: #0a63c2; border-color: #0a63c2;" class="btn btn-primary px-4" href="{% url 'home' %}">Homepage</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    {% include 'base/js.html' %}
     <script>
        var numbers = document.querySelector('#id_numbers');
        var expiry_date = document.querySelector('#id_expiry_date');

        numbers.setAttribute('name',"num");
        numbers.setAttribute('class', 'fname');

        expiry_date.setAttribute('name',"expiry_date");
        expiry_date.setAttribute('class', 'fname');

        numbers.name = 'num';

        numbers.required = true;
        expiry_date.required = true;
        expiry_date.name = 'expiry_date';
        expiry_date.type = 'date';

  </script>



  </body>
</html>
